NevaMarine/flows.json
[
    {
        "id": "483a6f631e7f69a7",
        "type": "tab",
        "label": "Oppsett",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "389436610c6304c5",
        "type": "tab",
        "label": "State Machine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cedfdb6678b9e49e",
        "type": "tab",
        "label": "MODBUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec96b8f08fb0c19e",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d2bd18e.3e4abe",
        "type": "tab",
        "label": "IP Settings",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bf782cbf60794af0",
        "type": "tab",
        "label": "Lampe 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "88be0e5091306a90",
        "type": "tab",
        "label": "Lampe 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca1e3fc7ee28f5a2",
        "type": "tab",
        "label": "Lampe 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa95de13d0ae7341",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 36,
                "sy": 36,
                "gx": 5,
                "gy": 5,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bf34d136a8669896",
        "type": "ui_tab",
        "name": "Oppsett",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "46c1561852cb3234",
        "type": "modbus-client",
        "name": "LocalBUS",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyAMA0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "1cf52e38.3cfee2",
        "type": "ui_group",
        "name": "IP Settings",
        "tab": "be53a269.02ec3",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "be53a269.02ec3",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "order": 5
    },
    {
        "id": "7f2169e2cb92802f",
        "type": "shared-state",
        "name": "myManuellKjoringState",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "713180c82aa959a2",
        "type": "ui_group",
        "name": "Prosessoppsett",
        "tab": "bf34d136a8669896",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5dd95ee166991007",
        "type": "ui_group",
        "name": "Nettverk",
        "tab": "bf34d136a8669896",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2615cba8578655a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "128.199.38.63",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "884e0b0f934ba909",
        "type": "shared-state",
        "name": "myLat",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "6",
        "numMin": "-90",
        "numMax": "90",
        "unit": "deg",
        "saveInterval": "0"
    },
    {
        "id": "407e7742e8b9f1bc",
        "type": "shared-state",
        "name": "myLon",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "6",
        "numMin": "-180",
        "numMax": "180",
        "unit": "deg",
        "saveInterval": "0"
    },
    {
        "id": "938a837f7136dc47",
        "type": "ui_spacer",
        "z": "483a6f631e7f69a7",
        "name": "spacer",
        "group": "5dd95ee166991007",
        "order": 8,
        "width": "8",
        "height": "1"
    },
    {
        "id": "9eb895dadc67bea0",
        "type": "shared-state",
        "name": "myBuzzerDisabled",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "f00a67f94951c24d",
        "type": "ui_spacer",
        "z": "2d2bd18e.3e4abe",
        "name": "spacer",
        "group": "1cf52e38.3cfee2",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "a93f708700da0d97",
        "type": "ui_spacer",
        "z": "483a6f631e7f69a7",
        "name": "spacer",
        "group": "5dd95ee166991007",
        "order": 11,
        "width": "8",
        "height": "1"
    },
    {
        "id": "1c31383f58ccd4f8",
        "type": "ui_group",
        "name": "Programvare",
        "tab": "bf34d136a8669896",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d5e8bd2b1115be28",
        "type": "shared-state",
        "name": "FW_Link",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "str",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "bebb9f5a2b2944ad",
        "type": "ui_tab",
        "name": "HW Test",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8fb401a08da32934",
        "type": "ui_group",
        "name": "System",
        "tab": "d5f639bc116dce5e",
        "order": 7,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d5f639bc116dce5e",
        "type": "ui_tab",
        "name": "Hjem",
        "icon": "today",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "984d640ef763cab4",
        "type": "shared-state",
        "name": "myHWaddr",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "str",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "6419184378ff1692",
        "type": "ui_group",
        "name": "Lampe 1",
        "tab": "d5f639bc116dce5e",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8bb3fa33612b5685",
        "type": "ui_group",
        "name": "Lampe 2",
        "tab": "d5f639bc116dce5e",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f735df78474bdbad",
        "type": "ui_group",
        "name": "Lampe 3",
        "tab": "d5f639bc116dce5e",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d96855d5801a8206",
        "type": "ui_group",
        "name": "Lampe 4",
        "tab": "d5f639bc116dce5e",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "051ab72180dfa122",
        "type": "ui_group",
        "name": "Lampe 5",
        "tab": "d5f639bc116dce5e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "977d9c659b3c9fb3",
        "type": "ui_group",
        "name": "Lampe 6",
        "tab": "d5f639bc116dce5e",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ead8f956c53ebd34",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "name": "Prosessoppsett",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "9652c9e68944c869",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "name": "Hent Hostname og MAC og IP",
        "info": "",
        "x": 180,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8606686a.ef7008",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract HWaddr",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"ether \") + 6; // Offset the start of the address from \"ether \"\nlet addr = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nreturn { payload : addr }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "b4ef47649e9c4759",
                "54b06a2d2d3f7da9"
            ]
        ]
    },
    {
        "id": "52753337.7b5a8c",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "ifconfig eth0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 350,
        "y": 1320,
        "wires": [
            [
                "8606686a.ef7008",
                "f378c2eb37bccb2e"
            ],
            [],
            []
        ]
    },
    {
        "id": "7274cbde085522a1",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract Hostname",
        "func": "let hostname = msg.payload; // Save the payload string to a more convenient variable name\n\nreturn { payload : hostname.trim() };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1240,
        "wires": [
            [
                "7f0574c4b0c6d150",
                "89718a34befe08cc"
            ]
        ]
    },
    {
        "id": "8672e44b8c93e04e",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "hostname",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "7274cbde085522a1"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f0574c4b0c6d150",
        "type": "ui_text",
        "z": "483a6f631e7f69a7",
        "group": "5dd95ee166991007",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Show Hostname",
        "label": "Hostname:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 760,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b4ef47649e9c4759",
        "type": "ui_text",
        "z": "483a6f631e7f69a7",
        "group": "5dd95ee166991007",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Show HW addr",
        "label": "MAC:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 760,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f378c2eb37bccb2e",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract IP",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"inet \") + 5; // Offset the start of the address from \"inet \"\nlet ip = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nif ( (start == 5) || (start == 4) ) {\n    ip = \"Not available\";\n}\n\nreturn { payload : ip }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "c1effe7692196d3b"
            ]
        ]
    },
    {
        "id": "c1effe7692196d3b",
        "type": "ui_text",
        "z": "483a6f631e7f69a7",
        "group": "5dd95ee166991007",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Show eth0 IP",
        "label": "eth0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 750,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e6597813fd0ae3f4",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "ifconfig wlan0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "fefea0960b0e5ccf"
            ],
            [],
            []
        ]
    },
    {
        "id": "096f2f794a85bfda",
        "type": "ui_text",
        "z": "483a6f631e7f69a7",
        "group": "5dd95ee166991007",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Show wlan0 IP",
        "label": "wlan0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 760,
        "y": 1440,
        "wires": []
    },
    {
        "id": "54b06a2d2d3f7da9",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HWaddr",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1300,
        "wires": [
            [
                "99221ed0b3ff9b78"
            ]
        ]
    },
    {
        "id": "cc41947dcd6a7447",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "884e0b0f934ba909",
        "name": "myLat",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 150,
        "y": 1820,
        "wires": [
            [
                "bd2bf422b00f4ea1"
            ]
        ]
    },
    {
        "id": "f559be213ad80699",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "884e0b0f934ba909",
        "name": "myLat",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 490,
        "y": 1860,
        "wires": []
    },
    {
        "id": "415279b36a1b260b",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "myLat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1820,
        "wires": [
            [
                "d3a04c2a524f335d"
            ]
        ]
    },
    {
        "id": "9446bd4891094586",
        "type": "inject",
        "z": "483a6f631e7f69a7",
        "name": "59.321648",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "59.321648",
        "payloadType": "num",
        "x": 140,
        "y": 1780,
        "wires": [
            [
                "bd2bf422b00f4ea1"
            ]
        ]
    },
    {
        "id": "bd2bf422b00f4ea1",
        "type": "ui_text_input",
        "z": "483a6f631e7f69a7",
        "name": "",
        "label": "Lat:",
        "tooltip": "",
        "group": "5dd95ee166991007",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "415279b36a1b260b",
                "f559be213ad80699"
            ]
        ]
    },
    {
        "id": "136cbb4d09d53679",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "407e7742e8b9f1bc",
        "name": "myLon",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 150,
        "y": 1940,
        "wires": [
            [
                "f4894c4f1c847f1c"
            ]
        ]
    },
    {
        "id": "18c63098db69cf72",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "407e7742e8b9f1bc",
        "name": "myLon",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 490,
        "y": 1980,
        "wires": []
    },
    {
        "id": "942d34ae8956f965",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "myLon",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1940,
        "wires": [
            [
                "d3a04c2a524f335d"
            ]
        ]
    },
    {
        "id": "0658f9f3b5b365fe",
        "type": "inject",
        "z": "483a6f631e7f69a7",
        "name": "10.496234",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10.496234",
        "payloadType": "num",
        "x": 140,
        "y": 1900,
        "wires": [
            [
                "f4894c4f1c847f1c"
            ]
        ]
    },
    {
        "id": "f4894c4f1c847f1c",
        "type": "ui_text_input",
        "z": "483a6f631e7f69a7",
        "name": "",
        "label": "Lon:",
        "tooltip": "",
        "group": "5dd95ee166991007",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 1940,
        "wires": [
            [
                "942d34ae8956f965",
                "18c63098db69cf72"
            ]
        ]
    },
    {
        "id": "6ce543380d8075b6",
        "type": "ui_text",
        "z": "483a6f631e7f69a7",
        "group": "5dd95ee166991007",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Position:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 300,
        "y": 1780,
        "wires": []
    },
    {
        "id": "66075e03ab09b9bf",
        "type": "link out",
        "z": "483a6f631e7f69a7",
        "name": "Send position update",
        "mode": "link",
        "links": [
            "3bcdd38ce2c510ef"
        ],
        "x": 1055,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d3a04c2a524f335d",
        "type": "trigger",
        "z": "483a6f631e7f69a7",
        "name": "",
        "op1": "0",
        "op2": "",
        "op1type": "str",
        "op2type": "date",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 930,
        "y": 1860,
        "wires": [
            [],
            [
                "66075e03ab09b9bf"
            ]
        ]
    },
    {
        "id": "89718a34befe08cc",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hostname",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "fbd47f18eb2c1b2e",
        "type": "ui_switch",
        "z": "483a6f631e7f69a7",
        "name": "",
        "label": "Deaktivere alarmlyd",
        "tooltip": "",
        "group": "713180c82aa959a2",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "1c1f9e4030ad8e36",
                "89fad0d68ea4aea0"
            ]
        ]
    },
    {
        "id": "1c1f9e4030ad8e36",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "BuzzerDisabled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "89fad0d68ea4aea0",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "9eb895dadc67bea0",
        "name": "myBuzzerDisabled",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "39950418cf657b21",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "9eb895dadc67bea0",
        "name": "myBuzzerDisabled",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "fbd47f18eb2c1b2e"
            ]
        ]
    },
    {
        "id": "85d582adbda505d5",
        "type": "ui_text_input",
        "z": "483a6f631e7f69a7",
        "name": "WifiPassword",
        "label": "Nettverkspassord:",
        "tooltip": "Avslutt med Enter eller Tab for å endre.",
        "group": "5dd95ee166991007",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 740,
        "y": 1640,
        "wires": [
            [
                "8a75d5bd744e8a34"
            ]
        ]
    },
    {
        "id": "92f50ec9494dca41",
        "type": "ui_text_input",
        "z": "483a6f631e7f69a7",
        "name": "SSID",
        "label": "Nettverksnavn (SSID):",
        "tooltip": "Avslutt med Enter eller Tab for å endre.",
        "group": "5dd95ee166991007",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 1600,
        "wires": [
            [
                "4137c932c634e85c"
            ]
        ]
    },
    {
        "id": "c7f54ee0b2f3a63a",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "cat /etc/wpa_supplicant/wpa_supplicant.conf",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 1620,
        "wires": [
            [
                "1b2a342569d2a26e",
                "42dc6006f9fea2f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "4bbd09c9d61fa90a",
        "type": "ui_ui_control",
        "z": "483a6f631e7f69a7",
        "name": "",
        "events": "change",
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "e465494834110f2d"
            ]
        ]
    },
    {
        "id": "e3fa8f4d8f0e2257",
        "type": "ui_toast",
        "z": "483a6f631e7f69a7",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c14bb127b5df1c7b",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract available SSID",
        "func": "let myArray = msg.payload;\nlet mySSIDs = \"SSID(s):\";\n\n// List all SSIDs\nfor(let i=0;i<myArray.length;i++) {\n    mySSIDs = mySSIDs + \" \" + myArray[i].ssid;\n}\n\nreturn { payload : mySSIDs }; // return the SSIDs found as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "e3fa8f4d8f0e2257"
            ]
        ]
    },
    {
        "id": "fefea0960b0e5ccf",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract IP",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"inet \") + 5; // Offset the start of the address from \"inet \"\nlet ip = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nif ( (start == 5) || (start == 4) ) {\n    ip = \"Not available\";\n}\n\nreturn { payload : ip }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1440,
        "wires": [
            [
                "096f2f794a85bfda"
            ]
        ]
    },
    {
        "id": "e465494834110f2d",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Oppsett",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "8672e44b8c93e04e",
                "52753337.7b5a8c",
                "e6597813fd0ae3f4",
                "c7f54ee0b2f3a63a",
                "5d6762f0715ad17d"
            ]
        ]
    },
    {
        "id": "1b2a342569d2a26e",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract SSID",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"ssid=\") + 6; // Offset the start of the SSID \"\nlet mySSID = ifconfig.substring(start, ifconfig.indexOf('\"', start)); // Get up until the next space\n\n// Store orginal value\nflow.set(\"orgSSID\", mySSID);\n\nreturn { payload: mySSID }; // return the SSID as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1600,
        "wires": [
            [
                "92f50ec9494dca41"
            ]
        ]
    },
    {
        "id": "42dc6006f9fea2f4",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "extract psk",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"psk=\") + 5; // Offset the start of the psk \"\nlet myPSK = ifconfig.substring(start, ifconfig.indexOf('\"', start)); // Get up until the next space\n\n// Store orginal value\nflow.set(\"orgPSK\", myPSK);\n\n\nreturn { payload: myPSK }; // return the PSK as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1640,
        "wires": [
            [
                "85d582adbda505d5"
            ]
        ]
    },
    {
        "id": "4137c932c634e85c",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "Endring?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "orgSSID",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 1600,
        "wires": [
            [
                "f08261ebfc7c4153"
            ]
        ]
    },
    {
        "id": "8a75d5bd744e8a34",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "Endring?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "orgPSK",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 1640,
        "wires": [
            [
                "585fb6d440aca651"
            ]
        ]
    },
    {
        "id": "f08261ebfc7c4153",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "send commands",
        "func": "let newValue = msg.payload;\nlet orgValue = flow.get(\"orgSSID\"); \n\nlet command = `'s?ssid=\"${orgValue}\"?ssid=\"${newValue}\"?g' /etc/wpa_supplicant/wpa_supplicant.conf`;\n\nflow.set(\"orgSSID\",newValue);\n\nreturn {payload: command};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1600,
        "wires": [
            [
                "e4b41e99e4495c4e"
            ]
        ]
    },
    {
        "id": "e4b41e99e4495c4e",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "sudo sed -i ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1290,
        "y": 1620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "585fb6d440aca651",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "send commands",
        "func": "let newValue = msg.payload;\nlet orgValue = flow.get(\"orgPSK\"); \n\nlet command = `'s?psk=\"${orgValue}\"?psk=\"${newValue}\"?g' /etc/wpa_supplicant/wpa_supplicant.conf`;\n\nflow.set(\"orgPSK\",newValue);\n\nreturn {payload: command};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1640,
        "wires": [
            [
                "e4b41e99e4495c4e"
            ]
        ]
    },
    {
        "id": "43a334e28706087c",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "name": "link in SSID",
        "links": [
            "bd09041f1951af61"
        ],
        "x": 565,
        "y": 1560,
        "wires": [
            [
                "92f50ec9494dca41"
            ]
        ]
    },
    {
        "id": "13a7ca5bd49cdb11",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "name": "link in WifiPassword",
        "links": [
            "0fa5e2f74c05ad92"
        ],
        "x": 565,
        "y": 1680,
        "wires": [
            [
                "85d582adbda505d5"
            ]
        ]
    },
    {
        "id": "bf46220a5ddc0c5a",
        "type": "ui_text_input",
        "z": "483a6f631e7f69a7",
        "name": "",
        "label": "FW link:",
        "tooltip": "",
        "group": "1c31383f58ccd4f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 2060,
        "wires": [
            [
                "d276a4a2ddf4962d",
                "b13ec189cc79f6ba"
            ]
        ]
    },
    {
        "id": "73b0e388477c6a78",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "d5e8bd2b1115be28",
        "name": "FW_Link",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 160,
        "y": 2060,
        "wires": [
            [
                "bf46220a5ddc0c5a"
            ]
        ]
    },
    {
        "id": "d276a4a2ddf4962d",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "d5e8bd2b1115be28",
        "name": "FW_Link",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 540,
        "y": 2100,
        "wires": []
    },
    {
        "id": "b13ec189cc79f6ba",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FW_Link",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "5d8c74fd4da28a7d",
        "type": "ui_button",
        "z": "483a6f631e7f69a7",
        "name": "",
        "group": "1c31383f58ccd4f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Oppdater programvare",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Sikker på at du vil oppdatere programvare nå?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2160,
        "wires": [
            [
                "b97564d416dc3d4b"
            ]
        ]
    },
    {
        "id": "b97564d416dc3d4b",
        "type": "ui_toast",
        "z": "483a6f631e7f69a7",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "OBS!",
        "name": "",
        "x": 410,
        "y": 2160,
        "wires": [
            [
                "87af758445f14285"
            ]
        ]
    },
    {
        "id": "87af758445f14285",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 2160,
        "wires": [
            [
                "f5c628fac390b678"
            ]
        ]
    },
    {
        "id": "fc771a88fc812e82",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "command": "sudo wget -cO - ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 420,
        "y": 2240,
        "wires": [
            [
                "b56eeb28afd7b903"
            ],
            [
                "b56eeb28afd7b903"
            ],
            [
                "b56eeb28afd7b903",
                "5e26a60998e2c14e"
            ]
        ]
    },
    {
        "id": "f5c628fac390b678",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "send commands",
        "func": "let myParam = flow.get(\"FW_Link\") + \" > /home/pi/.node-red/flows.json\";\n\nreturn { payload: myParam }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 2240,
        "wires": [
            [
                "fc771a88fc812e82"
            ]
        ]
    },
    {
        "id": "b56eeb28afd7b903",
        "type": "debug",
        "z": "483a6f631e7f69a7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2240,
        "wires": []
    },
    {
        "id": "5e26a60998e2c14e",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "Alt i orden?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 2320,
        "wires": [
            [
                "e4c0288adfa9a86f"
            ],
            [
                "343324275668efb1"
            ]
        ]
    },
    {
        "id": "40ed356cf71a23de",
        "type": "ui_toast",
        "z": "483a6f631e7f69a7",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 2320,
        "wires": []
    },
    {
        "id": "e4c0288adfa9a86f",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "Programvare Oppdatert!",
        "func": "return { payload: \"Programvare Oppdatert! Omstart nødvendig for at endringene skal tre i kraft - kjører omstart nå...\" };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2320,
        "wires": [
            [
                "40ed356cf71a23de",
                "4b257f03fe785047"
            ]
        ]
    },
    {
        "id": "4b257f03fe785047",
        "type": "delay",
        "z": "483a6f631e7f69a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 2360,
        "wires": [
            [
                "f2e8fe39856e80ef"
            ]
        ]
    },
    {
        "id": "343324275668efb1",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "name": "Uff da... Dette gikk jo ikke.",
        "func": "return { payload: \"Uff da! Fikk ikke tak i Programvaren.\" + msg.payload.message };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2360,
        "wires": [
            [
                "40ed356cf71a23de"
            ]
        ]
    },
    {
        "id": "54b12257f4a94b77",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "name": "System Status/Overide",
        "info": "",
        "x": 160,
        "y": 640,
        "wires": []
    },
    {
        "id": "b478d0db2b70e8aa",
        "type": "ui_switch",
        "z": "483a6f631e7f69a7",
        "name": "manuellKjøring",
        "label": "Manuell kjøring",
        "tooltip": "",
        "group": "713180c82aa959a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "0f6199f63595e02c",
                "33312b8bbafd2fbb"
            ]
        ]
    },
    {
        "id": "fc1097f1322444ad",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "7f2169e2cb92802f",
        "name": "myManuellKjoringState",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "b478d0db2b70e8aa"
            ]
        ]
    },
    {
        "id": "0f6199f63595e02c",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "7f2169e2cb92802f",
        "name": "myManuellKjoringState",
        "triggerOnInit": false,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 770,
        "y": 740,
        "wires": []
    },
    {
        "id": "33312b8bbafd2fbb",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "myManuellKjoringState",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "9c4441022fa25dc3"
            ]
        ]
    },
    {
        "id": "0a58943a5119541a",
        "type": "ui_button",
        "z": "483a6f631e7f69a7",
        "name": "",
        "group": "1c31383f58ccd4f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Omstart",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "close",
        "payload": "Trukk OK for omstart av systemmet. Hvis du ikke er sikker - trykk CANCEL nå!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "db9e027392c5b21e"
            ]
        ]
    },
    {
        "id": "9e4b31212a818980",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "name": "Omstart",
        "info": "",
        "x": 110,
        "y": 1020,
        "wires": []
    },
    {
        "id": "db9e027392c5b21e",
        "type": "ui_toast",
        "z": "483a6f631e7f69a7",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "ADVARSEL",
        "name": "",
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "91f87512e16887b3"
            ]
        ]
    },
    {
        "id": "91f87512e16887b3",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "2ef322e034f98afc"
            ]
        ]
    },
    {
        "id": "9c4441022fa25dc3",
        "type": "trigger",
        "z": "483a6f631e7f69a7",
        "name": "",
        "op1": "0",
        "op2": "",
        "op1type": "str",
        "op2type": "date",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 1020,
        "y": 700,
        "wires": [
            [],
            [
                "142ac5ca21618d51"
            ]
        ]
    },
    {
        "id": "99221ed0b3ff9b78",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "state": "984d640ef763cab4",
        "name": "myHWaddr",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 970,
        "y": 1300,
        "wires": []
    },
    {
        "id": "142ac5ca21618d51",
        "type": "link out",
        "z": "483a6f631e7f69a7",
        "name": "link out Manuell Kjoring",
        "mode": "link",
        "links": [
            "19e1100a281a1a59",
            "bb177e98cd2da314"
        ],
        "x": 1145,
        "y": 720,
        "wires": []
    },
    {
        "id": "5d6762f0715ad17d",
        "type": "wifiscan",
        "z": "483a6f631e7f69a7",
        "name": "",
        "x": 350,
        "y": 1500,
        "wires": [
            [
                "c14bb127b5df1c7b"
            ]
        ]
    },
    {
        "id": "f2e8fe39856e80ef",
        "type": "restart",
        "z": "483a6f631e7f69a7",
        "name": "",
        "x": 810,
        "y": 2360,
        "wires": []
    },
    {
        "id": "2ef322e034f98afc",
        "type": "restart",
        "z": "483a6f631e7f69a7",
        "name": "",
        "x": 610,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5b2f4d4e11e164f2",
        "type": "ui_template",
        "z": "483a6f631e7f69a7",
        "group": "8fb401a08da32934",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    \n    /* Set Background picture */\n    body {\n        background-image: url(\"/Background.png\");\n        background-repeat: no-repeat;\n        background-position: center;\n        background-size: contain;\n    }\n\n    /* Styling for all the groups */\n    ui-card-panel {\n        box-shadow: rgba(0,0,0,0.55) 0px 15px 25px !important;\n        border-radius: 5px;\n    }\n    \n    /* Styling for all the lelements in the groups */\n    ui-card-panel * {\n        border-radius: 2.5px;\n    }\n\n    /* Styling of the Group Title */\n    .nr-dashboard-cardtitle {\n        font-weight: bold !important;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf23f9bebad3d09",
        "type": "rpi-gpio out",
        "z": "389436610c6304c5",
        "name": "Heartbeat",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "0b15a252a73f9d20",
        "type": "trigger",
        "z": "389436610c6304c5",
        "name": "AlivePulse",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "cdf23f9bebad3d09"
            ]
        ]
    },
    {
        "id": "a5c1a40f6aa5490b",
        "type": "inject",
        "z": "389436610c6304c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "0b15a252a73f9d20",
                "d26ccf918054d530"
            ]
        ]
    },
    {
        "id": "227377b89d9f05d3",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Sjekk State Machine med 1Hz",
        "info": "",
        "x": 180,
        "y": 380,
        "wires": []
    },
    {
        "id": "0373238bfae3876a",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Alive / Watchdog",
        "info": "",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "140234849c844ca3",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Manuell modus?",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "d26ccf918054d530",
        "type": "switch",
        "z": "389436610c6304c5",
        "name": "Manuell Kjøring?",
        "property": "myManuellKjoringState",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "599eecdb58c4791d",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Normal drift",
        "info": "",
        "x": 130,
        "y": 680,
        "wires": []
    },
    {
        "id": "e35f186791f1cae4",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Digital inn",
        "info": "",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "f919e2e4e25acf1a",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Analog inn",
        "info": "global.set(\"MB01Septiklevel\", msg.payload[8]);\nglobal.set(\"MB01Bruksvannlevel\", msg.payload[9]);\n",
        "x": 120,
        "y": 1080,
        "wires": []
    },
    {
        "id": "eed6412019e0569e",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "Alarmhåndtering",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "199fbf45b6f0067d",
        "type": "comment",
        "z": "389436610c6304c5",
        "name": "System Oppstart",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "ff05082d402edd3c",
        "type": "inject",
        "z": "389436610c6304c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "100e44bf77834a1f",
                "cff4564a70b363a8"
            ]
        ]
    },
    {
        "id": "dc8e2bd53450658d",
        "type": "link out",
        "z": "389436610c6304c5",
        "name": "Update Position, Config an Prosessdata on startup",
        "mode": "link",
        "links": [
            "19e1100a281a1a59",
            "3bcdd38ce2c510ef",
            "bb177e98cd2da314"
        ],
        "x": 235,
        "y": 200,
        "wires": []
    },
    {
        "id": "100e44bf77834a1f",
        "type": "delay",
        "z": "389436610c6304c5",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "dc8e2bd53450658d"
            ]
        ]
    },
    {
        "id": "cff4564a70b363a8",
        "type": "change",
        "z": "389436610c6304c5",
        "name": "Set global.mySystemtype & Andre preset...",
        "rules": [
            {
                "t": "set",
                "p": "mySystemStatusIndikator",
                "pt": "global",
                "to": "G",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "myPST2PWM",
                "pt": "global",
                "to": "[0,1,2,3,4,5,6,7,8,50,100,200,350,550,800,1100,1300,1900,2330,2557,2715,2871,3026,3178,3330,3479,3627,3773,3918,4061,4202,4342,4480,4616,4751,4884,5016,5145,5274,5400,5525,5648,5770,5890,6008,6125,6240,6353,6465,6575,6684,6790,6895,6999,7101,7201,7300,7397,7492,7586,7678,7768,7857,7944,8029,8113,8195,8276,8355,8432,8508,8582,8654,8725,8794,8861,8927,8991,9053,9114,9173,9231,9287,9341,9394,9445,9494,9542,9588,9632,9675,9716,9755,9793,9829,9864,9897,9928,9958,9986,10000]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1d5271f67b4adabf",
        "type": "get-shared-state",
        "z": "389436610c6304c5",
        "state": "984d640ef763cab4",
        "name": "myHWaddr",
        "triggerOnInit": true,
        "triggerOnChange": false,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "e8760c74b3cdf49e"
            ]
        ]
    },
    {
        "id": "e8760c74b3cdf49e",
        "type": "change",
        "z": "389436610c6304c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HWaddr",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6bcd2081ba8f8bfa",
        "type": "rpi-gpio out",
        "z": "cedfdb6678b9e49e",
        "name": "MUX0",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1810,
        "y": 260,
        "wires": []
    },
    {
        "id": "6bee3c2f96b2ac2c",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1530,
        "y": 200,
        "wires": [
            [
                "6bcd2081ba8f8bfa"
            ]
        ]
    },
    {
        "id": "4d14e2a1c9482b13",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1530,
        "y": 240,
        "wires": [
            [
                "6bcd2081ba8f8bfa"
            ]
        ]
    },
    {
        "id": "dcc362ab608aa064",
        "type": "rpi-gpio out",
        "z": "cedfdb6678b9e49e",
        "name": "MUX1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1810,
        "y": 320,
        "wires": []
    },
    {
        "id": "c50fa81ec275b49c",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "dcc362ab608aa064"
            ]
        ]
    },
    {
        "id": "c4c6b9ca705a5f8c",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1530,
        "y": 340,
        "wires": [
            [
                "dcc362ab608aa064"
            ]
        ]
    },
    {
        "id": "47ec85ef70523c5d",
        "type": "modbus-flex-getter",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "46c1561852cb3234",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1710,
        "y": 400,
        "wires": [
            [
                "9e72bb27417b5d0a",
                "8d827f5dd753668a"
            ],
            [
                "fe9501d34f0ec561"
            ]
        ]
    },
    {
        "id": "9e72bb27417b5d0a",
        "type": "modbus-response",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "registerShowMax": 20,
        "x": 1930,
        "y": 380,
        "wires": []
    },
    {
        "id": "693f59fdf5a9d739",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fc\":3,\"unitid\":1,\"address\":1,\"quantity\":10}",
        "payloadType": "json",
        "x": 1530,
        "y": 400,
        "wires": [
            [
                "47ec85ef70523c5d"
            ]
        ]
    },
    {
        "id": "b895b7ac12dcc111",
        "type": "modbus-flex-write",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "46c1561852cb3234",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1990,
        "y": 560,
        "wires": [
            [
                "18d5dc7a0ad0910f",
                "8d827f5dd753668a"
            ],
            [
                "fe9501d34f0ec561"
            ]
        ]
    },
    {
        "id": "18d5dc7a0ad0910f",
        "type": "modbus-response",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "registerShowMax": 20,
        "x": 2390,
        "y": 720,
        "wires": []
    },
    {
        "id": "bb267cba1477d453",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "TOWER RED",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "6000",
        "step": 1,
        "className": "",
        "x": 1540,
        "y": 620,
        "wires": [
            [
                "19c6ea23524b8d0f"
            ]
        ]
    },
    {
        "id": "19c6ea23524b8d0f",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set Tower Red (10)",
        "func": "\nreturn {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 1, 'address': 10 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 620,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "77474d19854d9dc6",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "TOWER GREEN",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "6000",
        "step": 1,
        "className": "",
        "x": 1550,
        "y": 680,
        "wires": [
            [
                "6ca54d2663449687"
            ]
        ]
    },
    {
        "id": "6ca54d2663449687",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set Tower GREEN (11)",
        "func": "\nreturn {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 1, 'address': 11 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 680,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "b5653946ed4bb475",
        "type": "ui_switch",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "BUZZ",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1510,
        "y": 780,
        "wires": [
            [
                "d71832359f6bc11b"
            ]
        ]
    },
    {
        "id": "d71832359f6bc11b",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set Buzzer (12)",
        "func": "\nreturn {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 1, 'address': 12 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 780,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "6f43f30798d475bb",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "PWM (10) (0-100%)",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1560,
        "y": 960,
        "wires": [
            [
                "9a3958a4083d0e74"
            ]
        ]
    },
    {
        "id": "e6c571bcaa9ff774",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "PWM (11) (0-100%)",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1550,
        "y": 1000,
        "wires": [
            [
                "ca4a5c6ca168e77f"
            ]
        ]
    },
    {
        "id": "9a3958a4083d0e74",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set LAMP (30)",
        "func": "let myPST2PWM=[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 100, 200, 350, 550, 800, 1100, 1300, 1900, 2330, 2557, 2715, 2871, 3026, 3178, 3330, 3479, 3627, 3773, 3918, 4061, 4202, 4342, 4480, 4616, 4751, 4884, 5016, 5145, 5274, 5400, 5525, 5648, 5770, 5890, 6008, 6125, 6240, 6353, 6465, 6575, 6684, 6790, 6895, 6999, 7101, 7201, 7300, 7397, 7492, 7586, 7678, 7768, 7857, 7944, 8029, 8113, 8195, 8276, 8355, 8432, 8508, 8582, 8654, 8725, 8794, 8861, 8927, 8991, 9053, 9114, 9173, 9231, 9287, 9341, 9394, 9445, 9494, 9542, 9588, 9632, 9675, 9716, 9755, 9793, 9829, 9864, 9897, 9928, 9958, 9986, 10000];\n\nreturn {payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 10, 'address': 30 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 960,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "ca4a5c6ca168e77f",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set LAMP (30)",
        "func": "//let myPST2PWM=[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 100, 200, 350, 550, 800, 1100, 1300, 1900, 2330, 2557, 2715, 2871, 3026, 3178, 3330, 3479, 3627, 3773, 3918, 4061, 4202, 4342, 4480, 4616, 4751, 4884, 5016, 5145, 5274, 5400, 5525, 5648, 5770, 5890, 6008, 6125, 6240, 6353, 6465, 6575, 6684, 6790, 6895, 6999, 7101, 7201, 7300, 7397, 7492, 7586, 7678, 7768, 7857, 7944, 8029, 8113, 8195, 8276, 8355, 8432, 8508, 8582, 8654, 8725, 8794, 8861, 8927, 8991, 9053, 9114, 9173, 9231, 9287, 9341, 9394, 9445, 9494, 9542, 9588, 9632, 9675, 9716, 9755, 9793, 9829, 9864, 9897, 9928, 9958, 9986, 10000];\nlet myPST2PWM = global.get(\"myPST2PWM\");\n\nreturn {payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 11, 'address': 30 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1000,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "040870272b79c521",
        "type": "ui_switch",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "MUX 0",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1650,
        "y": 180,
        "wires": [
            [
                "6bcd2081ba8f8bfa"
            ]
        ]
    },
    {
        "id": "783a3fc14eed5140",
        "type": "ui_switch",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "MUX 1",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1650,
        "y": 280,
        "wires": [
            [
                "dcc362ab608aa064"
            ]
        ]
    },
    {
        "id": "cf08f5b4ab902714",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fc\":3,\"unitid\":10,\"address\":1,\"quantity\":20}",
        "payloadType": "json",
        "x": 1530,
        "y": 460,
        "wires": [
            [
                "47ec85ef70523c5d"
            ]
        ]
    },
    {
        "id": "4414b95364bb89c5",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "11",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"fc\":3,\"unitid\":11,\"address\":50,\"quantity\":25}",
        "payloadType": "json",
        "x": 1530,
        "y": 500,
        "wires": [
            [
                "47ec85ef70523c5d"
            ]
        ]
    },
    {
        "id": "51057deb578e2f2c",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set On Timer (28)",
        "func": "return {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 11, 'address': 28 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 820,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "260747960c7c428a",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "OnTimer (10) (0-650)",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "650",
        "step": 1,
        "className": "",
        "x": 1560,
        "y": 820,
        "wires": [
            [
                "51057deb578e2f2c"
            ]
        ]
    },
    {
        "id": "68a0dfdc57ae0afb",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set Off Timer (29)",
        "func": "return {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 11, 'address': 29 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 880,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "d6ce68e20fa2ab9d",
        "type": "ui_slider",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "label": "OffTimer (10) (0-650)",
        "tooltip": "",
        "group": "8fb401a08da32934",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "650",
        "step": 1,
        "className": "",
        "x": 1560,
        "y": 880,
        "wires": [
            [
                "68a0dfdc57ae0afb"
            ]
        ]
    },
    {
        "id": "313fca7f645c6201",
        "type": "function",
        "z": "cedfdb6678b9e49e",
        "name": "Set Tower (9)",
        "func": "\nreturn {payload: { 'value': msg.payload, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 } };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 740,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "e43e49cc564a3ee8",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "x": 1550,
        "y": 740,
        "wires": [
            [
                "313fca7f645c6201"
            ]
        ]
    },
    {
        "id": "8d827f5dd753668a",
        "type": "debug",
        "z": "cedfdb6678b9e49e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2360,
        "y": 780,
        "wires": []
    },
    {
        "id": "fe9501d34f0ec561",
        "type": "debug",
        "z": "cedfdb6678b9e49e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2360,
        "y": 820,
        "wires": []
    },
    {
        "id": "a5bc5fef41ba420a",
        "type": "inject",
        "z": "cedfdb6678b9e49e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ebdd25c05b72abf2",
        "type": "link in",
        "z": "cedfdb6678b9e49e",
        "name": "link in Lampe x",
        "links": [
            "59e734e6b8e39ccf",
            "1dea93a4a959d826"
        ],
        "x": 1245,
        "y": 560,
        "wires": [
            [
                "b895b7ac12dcc111"
            ]
        ]
    },
    {
        "id": "9d2cd34151d9a265",
        "type": "mqtt out",
        "z": "ec96b8f08fb0c19e",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2615cba8578655a",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "bdf10b8e21cfdee3",
        "type": "function",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater posisjon",
        "func": "var myTopic = \"data/\" + global.get(\"HWaddr\");\nvar myPayload = {};\nvar myGeometric = {};\nvar myLat = global.get(\"myLat\");\nvar myLon = global.get(\"myLon\");\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\n\nmyGeometric[\"type\"] = \"Point\"; // myGeo.geometry.type;\nmyGeometric[\"coordinates\"] = [Number(myLon), Number(myLat)];  // myGeo.geometry.coordinate;\n\nmyPayload[\"geometry\"] = myGeometric;\n\nreturn {\"topic\": myTopic, \"payload\": myPayload };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "9d2cd34151d9a265"
            ]
        ]
    },
    {
        "id": "7852d349bce530f1",
        "type": "comment",
        "z": "ec96b8f08fb0c19e",
        "name": "Send oppstartsmelding med tid og posisjon",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "3bcdd38ce2c510ef",
        "type": "link in",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater posisjon",
        "links": [
            "66075e03ab09b9bf",
            "dc8e2bd53450658d",
            "f0da8ba54ddf95de"
        ],
        "x": 185,
        "y": 140,
        "wires": [
            [
                "bdf10b8e21cfdee3"
            ]
        ]
    },
    {
        "id": "096736127f61bc2e",
        "type": "function",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater konfigurasjon",
        "func": "var myTopic = \"data/\" + global.get(\"HWaddr\");\nvar myPayload = {};\nvar myConfig = {};\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\n\nmyConfig[\"hostname\"] = global.get(\"hostname\");\n//myConfig[\"Systemtype\"] = global.get(\"mySystemtype\");  // \"Sortvann001\";\n//myConfig[\"Septikpumpetid\"] = global.get(\"mySeptikpumpetid\");\n//myConfig[\"Septikpumpepausetid\"] = global.get(\"mySeptikpumpepausetid\");\n//myConfig[\"BrukstankHNivaaIProsent\"] = global.get(\"myBrukstankHNivaaIProsent\");\n//myConfig[\"BrukstankLLNivaaIProsent\"] = global.get(\"myBrukstankLLNivaaIProsent\");\n//myConfig[\"O2Intervall\"] = global.get(\"myO2Intervall\");\n//myConfig[\"O2Runtime\"] = global.get(\"myO2Runtime\");\n//myConfig[\"O3Runtime\"] = global.get(\"myO3Runtime\");\n//myConfig[\"BuzzerDisabled\"] = global.get(\"BuzzerDisabled\");\n//myConfig[\"Forbrukspumpetid\"] = global.get(\"myForbrukspumpetid\");\n//myConfig[\"Forbrukspumpepausetid\"] = global.get(\"myForbrukspumpepausetid\");\n//myConfig[\"Nattkjoring\"] = global.get(\"myNattkjoring\");\n//myConfig[\"MaksverdiSeptikAN\"] = global.get(\"myMaksverdiSeptikAN\");\n//myConfig[\"MinverdiSeptikAN\"] = global.get(\"myMinverdiSeptikAN\");\n//myConfig[\"MinimumsnivaaSeptikProsent\"] = global.get(\"myMinimumsnivaaSeptikProsent\");\n//myConfig[\"MaksverdiBruksvannAN\"] = global.get(\"myMaksverdiBruksvannAN\");\n//myConfig[\"MinverdiBruksvannAN\"] = global.get(\"myMinverdiBruksvannAN\");\n//myConfig[\"MinimumsnivaaBruksvannProsent\"] = global.get(\"myMinimumsnivaaBruksvannProsent\");\n//myConfig[\"\"] = global.get(\"\");\n//myConfig[\"\"] = global.get(\"\");\n\nmyPayload[\"config\"] = myConfig;\n\nreturn {\"topic\": myTopic, \"payload\": myPayload };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "9d2cd34151d9a265"
            ]
        ]
    },
    {
        "id": "b370efcdefd7ecd6",
        "type": "comment",
        "z": "ec96b8f08fb0c19e",
        "name": "Send konfigurasjonsendringer",
        "info": "",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "19e1100a281a1a59",
        "type": "link in",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater konfigurasjon",
        "links": [
            "1bb45da5f98ef2a2",
            "ec97a38cfde26961",
            "cd643db2d4e2dd54",
            "dc8e2bd53450658d",
            "142ac5ca21618d51",
            "ac692d21344025f2"
        ],
        "x": 185,
        "y": 300,
        "wires": [
            [
                "096736127f61bc2e"
            ]
        ]
    },
    {
        "id": "2ea22bfed3861ec2",
        "type": "comment",
        "z": "ec96b8f08fb0c19e",
        "name": "Send prosessdata",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "f4748bd882951979",
        "type": "function",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater prosessdata",
        "func": "var myTopic = \"data/\" + global.get(\"HWaddr\");\nvar myPayload = {};\nvar myStatus = (global.get(\"myManuellKjoringState\")?\"M\":\"A\") + global.get(\"mySystemStatusIndikator\");  // Status[0] = <A,O,M> (Auto, Off, Manuell), Status[1] = <-,G,g,Y,y,R,r> (Off,Grønn,grønnblink,Gul,gulblink,Rød, rødblink)  \nvar myData = {};\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\nmyPayload[\"status\"] = myStatus;\n\n//myData[\"P1Fuse\"] = global.get(\"fuseBlown1\");\n//myData[\"MB01P1Temp\"] = global.get(\"MB01P1Temp\");\n//myData[\"MB01P1ARaw\"] = global.get(\"MB01P1ARaw\");\n//myData[\"P2Fuse\"] = global.get(\"fuseBlown2\");\n//myData[\"MB01P2Temp\"] = global.get(\"MB01P2Temp\");\n//myData[\"MB01P2ARaw\"] = global.get(\"MB01P2ARaw\");\n//myData[\"P3Fuse\"] = global.get(\"fuseBlown3\");\n//myData[\"MB01P3Temp\"] = global.get(\"MB01P3Temp\");\n//myData[\"MB01P3ARaw\"] = global.get(\"MB01P3ARaw\");\n//myData[\"MB01DigitalIn\"] = global.get(\"MB01DigitalIn\");\n//myData[\"SeptikktanknivaaProsent\"] = global.get(\"mySeptiktanknivaaProsent\");\n//myData[\"BruksvanntanknivaaProsent\"] = global.get(\"myBruksvanntanknivaaProsent\");\n//myData[\"filter2HH\"] = global.get(\"filter2HH\");\n//myData[\"septikH\"] = global.get(\"septikH\");\n//myData[\"septikHH\"] = global.get(\"septikHH\");\n\nmyPayload[\"data\"] = myData;\n\nreturn {\"topic\": myTopic, \"payload\": myPayload };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "9d2cd34151d9a265"
            ]
        ]
    },
    {
        "id": "bb177e98cd2da314",
        "type": "link in",
        "z": "ec96b8f08fb0c19e",
        "name": "Oppdater Prosessdata",
        "links": [
            "a6ae04c8e40eb804",
            "867f354c7f729c72",
            "dc8e2bd53450658d",
            "142ac5ca21618d51",
            "ac692d21344025f2"
        ],
        "x": 185,
        "y": 460,
        "wires": [
            [
                "f4748bd882951979"
            ]
        ]
    },
    {
        "id": "e7d5308ff8080842",
        "type": "comment",
        "z": "ec96b8f08fb0c19e",
        "name": "Prosess inndata",
        "info": "",
        "x": 140,
        "y": 560,
        "wires": []
    },
    {
        "id": "5ff552d33d303762",
        "type": "mqtt in",
        "z": "ec96b8f08fb0c19e",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2615cba8578655a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "df70cc9af0041d36"
            ]
        ]
    },
    {
        "id": "746b0006df813a46",
        "type": "inject",
        "z": "ec96b8f08fb0c19e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "0f9268e9eb004f16"
            ]
        ]
    },
    {
        "id": "0f9268e9eb004f16",
        "type": "function",
        "z": "ec96b8f08fb0c19e",
        "name": "Set topic med HWAddr",
        "func": "let myTopic = \"ktas_cmd/\" + global.get(\"HWaddr\");\n\nreturn {\"action\": \"subscribe\", \"topic\": myTopic};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 680,
        "wires": [
            [
                "5ff552d33d303762"
            ]
        ]
    },
    {
        "id": "df70cc9af0041d36",
        "type": "function",
        "z": "ec96b8f08fb0c19e",
        "name": "Tolke innkommende data",
        "func": "let getStatus = null;\nlet getConfig = null;\nlet getPos = null;\nlet setManuellKjoringState = null; \nlet setLat = null;\nlet setLon = null;\nlet setSSID = null;\nlet setWifiPassword = null;\n\n\n// Command (cmd)\nif ((msg.payload.cmd === \"Status\") || (msg.payload.cmd === \"status\") || (msg.payload.cmd === \"STATUS\")) {\n    getStatus = true;\n} else if ((msg.payload.cmd === \"Konfig\") || (msg.payload.cmd === \"konfig\") || (msg.payload.cmd === \"KONFIG\")\n    || (msg.payload.cmd === \"Config\") || (msg.payload.cmd === \"config\") || (msg.payload.cmd === \"CONFIG\")) {\n    getConfig = true;\n} else if ((msg.payload.cmd === \"Pos\") || (msg.payload.cmd === \"pos\") || (msg.payload.cmd === \"POS\")\n    || (msg.payload.cmd === \"gps\") || (msg.payload.cmd === \"GPS\")) {\n    getPos = true;\n}\n\n// ManuellKjoringState\nif ((msg.payload.ManuellKjoringState === true) || (msg.payload.ManuellKjoringState === 1)) {\n    setManuellKjoringState = true;\n} else if ((msg.payload.ManuellKjoringState === false) || (msg.payload.ManuellKjoringState === 0)) {\n    setManuellKjoringState = false;\n}\n\n// Lat\nif (msg.payload.Lat !== undefined) {\n    setLat = msg.payload.Lat;\n}\n\n// Lon\nif (msg.payload.Lon !== undefined) {\n    setLon = msg.payload.Lon;\n}\n\n// SSID\nif (msg.payload.SSID !== undefined) {\n    setSSID = msg.payload.SSID;\n}\n\n// WifiPassword\nif (msg.payload.WifiPassword !== undefined) {\n    setWifiPassword = msg.payload.WifiPassword;\n}\n\n/*\n// P1\nif ((msg.payload.P1 === true) || (msg.payload.P1 === 1)) {\n    global.set(\"P1On\",1);\n} else if ((msg.payload.P1 === false) || (msg.payload.P1 === 0)) {\n    global.set(\"P1On\", 0);\n}\n\n// P2\nif ((msg.payload.P2 === true) || (msg.payload.P2 === 1)) {\n    global.set(\"P2On\", 1);\n} else if ((msg.payload.P2 === false) || (msg.payload.P2 === 0)) {\n    global.set(\"P2On\", 0);\n}\n\n// P3\nif ((msg.payload.P3 === true) || (msg.payload.P3 === 1)) {\n    global.set(\"P3On\", 1);\n} else if ((msg.payload.P3 === false) || (msg.payload.P3 === 0)) {\n    global.set(\"P3On\", 0);\n}\n\n// RL1\nif ((msg.payload.RL1 === true) || (msg.payload.RL1 === 1)) {\n    global.set(\"RL1On\", 1);\n} else if ((msg.payload.RL1 === false) || (msg.payload.RL1 === 0)) {\n    global.set(\"RL1On\", 0);\n}\n\n// RL2\nif ((msg.payload.RL2 === true) || (msg.payload.RL2 === 1)) {\n    global.set(\"RL2On\", 1);\n} else if ((msg.payload.RL2 === false) || (msg.payload.RL2 === 0)) {\n    global.set(\"RL2On\", 0);\n}\n\n// RL3\nif ((msg.payload.RL3 === true) || (msg.payload.RL3 === 1)) {\n    global.set(\"RL3On\", 1);\n} else if ((msg.payload.RL3 === false) || (msg.payload.RL3 === 0)) {\n    global.set(\"RL3On\", 0);\n}\n\n// RL4\nif ((msg.payload.RL4 === true) || (msg.payload.RL4 === 1)) {\n    global.set(\"RL4On\", 1);\n} else if ((msg.payload.RL4 === false) || (msg.payload.RL4 === 0)) {\n    global.set(\"RL4On\", 0);\n}\n\n// RL5\nif ((msg.payload.RL5 === true) || (msg.payload.RL4 === 1)) {\n    global.set(\"RL5On\", 1);\n} else if ((msg.payload.RL5 === false) || (msg.payload.RL5 === 0)) {\n    global.set(\"RL5On\", 0);\n}\n\n// myConfig[\"Septikpumpetid\"] = global.get(\"mySeptikpumpetid\");\nif (msg.payload.Septikpumpetid !== undefined) {\n    setSeptikpumpetid = msg.payload.Septikpumpetid;\n}\n\n// myConfig[\"Septikpumpepausetid\"] = global.get(\"mySeptikpumpepausetid\");\nif (msg.payload.Septikpumpepausetid !== undefined) {\n    setSeptikpumpepausetid = msg.payload.Septikpumpepausetid;\n}\n\n// myConfig[\"Forbrukspumpetid\"] = global.get(\"myForbrukspumpetid\");\nif (msg.payload.Forbrukspumpetid !== undefined) {\n    setForbrukspumpetid = msg.payload.Forbrukspumpetid;\n}\n\n// myConfig[\"Forbrukspumpepausetid\"] = global.get(\"myForbrukspumpepausetid\");\nif (msg.payload.Forbrukspumpepausetid !== undefined) {\n    setForbrukspumpetid = msg.payload.Forbrukspumpepausetid;\n}\n*/\n\nreturn [\n    { payload: getStatus },\n    { payload: getConfig },\n    { payload: getPos },\n    { payload: setManuellKjoringState },\n    { payload: setLat },\n    { payload: setLon },\n    { payload: setSSID },\n    { payload: setWifiPassword }\n];",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "759cd29b3e825093"
            ],
            [
                "dec5ae09f4f715be"
            ],
            [
                "2054e2989f4561d8"
            ],
            [
                "517fe687ab2af65d"
            ],
            [
                "28c0d9274d4fbd18"
            ],
            [
                "130354b9a59ee94e"
            ],
            [
                "76251ae28fcb562e"
            ],
            [
                "bdf4358a52864a4e"
            ]
        ]
    },
    {
        "id": "759cd29b3e825093",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Returner prosessdata",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "867f354c7f729c72"
            ]
        ]
    },
    {
        "id": "dec5ae09f4f715be",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Returner konfigurasjonsdata",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "ec97a38cfde26961"
            ]
        ]
    },
    {
        "id": "867f354c7f729c72",
        "type": "link out",
        "z": "ec96b8f08fb0c19e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "bb177e98cd2da314"
        ],
        "x": 935,
        "y": 740,
        "wires": []
    },
    {
        "id": "ec97a38cfde26961",
        "type": "link out",
        "z": "ec96b8f08fb0c19e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "19e1100a281a1a59"
        ],
        "x": 935,
        "y": 780,
        "wires": []
    },
    {
        "id": "2054e2989f4561d8",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Returner posisjon",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 820,
        "wires": [
            [
                "f0da8ba54ddf95de"
            ]
        ]
    },
    {
        "id": "f0da8ba54ddf95de",
        "type": "link out",
        "z": "ec96b8f08fb0c19e",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "3bcdd38ce2c510ef"
        ],
        "x": 935,
        "y": 820,
        "wires": []
    },
    {
        "id": "517fe687ab2af65d",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Set ManuellKjoringState",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 900,
        "wires": [
            [
                "831d01bfc3dde3a0"
            ]
        ]
    },
    {
        "id": "831d01bfc3dde3a0",
        "type": "set-shared-state",
        "z": "ec96b8f08fb0c19e",
        "state": "7f2169e2cb92802f",
        "name": "myManuellKjoringState",
        "triggerOnInit": false,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1090,
        "y": 900,
        "wires": []
    },
    {
        "id": "28c0d9274d4fbd18",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Set Lat",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 980,
        "wires": [
            [
                "7ec59ce7537fe97d"
            ]
        ]
    },
    {
        "id": "7ec59ce7537fe97d",
        "type": "set-shared-state",
        "z": "ec96b8f08fb0c19e",
        "state": "884e0b0f934ba909",
        "name": "myLat",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1030,
        "y": 980,
        "wires": []
    },
    {
        "id": "130354b9a59ee94e",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Set Lon",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "407d6e7c6cdf834a"
            ]
        ]
    },
    {
        "id": "407d6e7c6cdf834a",
        "type": "set-shared-state",
        "z": "ec96b8f08fb0c19e",
        "state": "407e7742e8b9f1bc",
        "name": "myLon",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "76251ae28fcb562e",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Set SSID",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 1120,
        "wires": [
            [
                "bd09041f1951af61"
            ]
        ]
    },
    {
        "id": "bdf4358a52864a4e",
        "type": "switch",
        "z": "ec96b8f08fb0c19e",
        "name": "Set WifiPassword",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "0fa5e2f74c05ad92"
            ]
        ]
    },
    {
        "id": "bd09041f1951af61",
        "type": "link out",
        "z": "ec96b8f08fb0c19e",
        "name": "link out SSID",
        "mode": "link",
        "links": [
            "43a334e28706087c"
        ],
        "x": 995,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0fa5e2f74c05ad92",
        "type": "link out",
        "z": "ec96b8f08fb0c19e",
        "name": "link out WifiPassword",
        "mode": "link",
        "links": [
            "13a7ca5bd49cdb11"
        ],
        "x": 995,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6a63b433.e2a73c",
        "type": "exec",
        "z": "2d2bd18e.3e4abe",
        "command": "cat /etc/dhcpcd.conf",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 476,
        "y": 179,
        "wires": [
            [
                "3239ea8.73a1016"
            ],
            [],
            []
        ]
    },
    {
        "id": "3239ea8.73a1016",
        "type": "function",
        "z": "2d2bd18e.3e4abe",
        "name": "parse response",
        "func": "var lines = msg.payload.split(\"\\n\");\nvar data = [];\n\nfor(var i=0; i< lines.length; i++){\n    if(lines[i].indexOf(\"interface eth0\") != -1)\n        break;\n}\n\n//check if interface eth0 is disabled\nif(i < lines.length && lines[i].indexOf(\"#\") >= 0) flow.set('disabled', true);\nelse flow.set('disabled', false);\n\nnode.send({topic:'interface eth0', payload:flow.get('disabled')})\n\ni++;\n\nfor(i; i< lines.length; i++){\n   \n   //new interface, not eth0\n   if(lines[i].indexOf(\"static\") == -1)\n    break;\n    \n    var tmp = lines[i].split(\"=\");\n    if(tmp.length==2){\n        var prop = tmp[0].split(' ')[1].trim();\n        var value = tmp[1].trim();\n        \n        flow.set(prop, value);\n        node.send({topic:prop, payload:value})\n    }\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 716,
        "y": 166,
        "wires": [
            [
                "3e969ca3.142384"
            ]
        ]
    },
    {
        "id": "3e969ca3.142384",
        "type": "switch",
        "z": "2d2bd18e.3e4abe",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ip_address",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "routers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "domain_name_servers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "interface eth0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 888,
        "y": 166,
        "wires": [
            [
                "2d434d1f.145822"
            ],
            [
                "502308c7.25bef8"
            ],
            [
                "6a605c6d.329194",
                "140df8ca.dea297"
            ],
            [
                "ba4f96ca.0f28b8"
            ]
        ]
    },
    {
        "id": "2d434d1f.145822",
        "type": "ui_text_input",
        "z": "2d2bd18e.3e4abe",
        "name": "ip_address",
        "label": "Indirizzo IP",
        "group": "1cf52e38.3cfee2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "ip_address",
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "a825b0e4.2a051"
            ]
        ]
    },
    {
        "id": "502308c7.25bef8",
        "type": "ui_text_input",
        "z": "2d2bd18e.3e4abe",
        "name": "router",
        "label": "Router",
        "group": "1cf52e38.3cfee2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "routers",
        "x": 1109,
        "y": 163,
        "wires": [
            [
                "a825b0e4.2a051"
            ]
        ]
    },
    {
        "id": "6a605c6d.329194",
        "type": "ui_text_input",
        "z": "2d2bd18e.3e4abe",
        "name": "dns",
        "label": "DNS",
        "group": "1cf52e38.3cfee2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "domain_name_servers",
        "x": 1109,
        "y": 206,
        "wires": [
            [
                "a825b0e4.2a051"
            ]
        ]
    },
    {
        "id": "9ae462fb.d924d",
        "type": "exec",
        "z": "2d2bd18e.3e4abe",
        "command": "sudo sed -i ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1b55bbd2.2f6a74",
        "type": "ui_button",
        "z": "2d2bd18e.3e4abe",
        "name": "reboot",
        "group": "1cf52e38.3cfee2",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "By pressing OK the device will be rebooted. If settings are wrong this may cause the device to be unreachable",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "846fb983.93f448"
            ]
        ]
    },
    {
        "id": "6da389d0.e8d598",
        "type": "exec",
        "z": "2d2bd18e.3e4abe",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 650,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d0341b01.217ee8",
        "type": "ui_button",
        "z": "2d2bd18e.3e4abe",
        "name": "refresh",
        "group": "1cf52e38.3cfee2",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 111.44442749023438,
        "y": 247.33291149139404,
        "wires": [
            [
                "fb34e190.3926a",
                "c2728ad2.71ac48"
            ]
        ]
    },
    {
        "id": "fb34e190.3926a",
        "type": "delay",
        "z": "2d2bd18e.3e4abe",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 278.8888740539551,
        "y": 247.44451141357422,
        "wires": [
            [
                "6a63b433.e2a73c"
            ]
        ]
    },
    {
        "id": "c2728ad2.71ac48",
        "type": "function",
        "z": "2d2bd18e.3e4abe",
        "name": "send commands",
        "func": "var properties = flow.get(\"properties\");\n\nvar disabled = flow.get(\"disabled\") ? '#' : '';\n\nif(disabled == '#'){\n    //enable interface (replace only first occurance)\n    var command = `'0,/#interface eth0/s//interface eth0/g;' /etc/dhcpcd.conf`;\n    node.send({payload: command})\n}\n\nfor(var i=0;i<properties.length;i++){\n    var p = properties[i];\n    \n    var old_value = flow.get(p);\n    var new_value = flow.get(p+\"_new\") || old_value;\n    \n    if(old_value && ((old_value != new_value) || disabled == '#'))\n    {\n        //enable interface (replace only first occurance)\n        var command = `'0,\\\\?${disabled}static ${p}=${old_value}?s??static ${p}=${new_value}?g;' /etc/dhcpcd.conf`;\n        node.send({payload: command})\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "8d2915b0.eb5188",
                "9ae462fb.d924d"
            ]
        ]
    },
    {
        "id": "846fb983.93f448",
        "type": "ui_toast",
        "z": "2d2bd18e.3e4abe",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "ATTENTION",
        "name": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "9f141047.ed494"
            ]
        ]
    },
    {
        "id": "9f141047.ed494",
        "type": "switch",
        "z": "2d2bd18e.3e4abe",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "6da389d0.e8d598"
            ]
        ]
    },
    {
        "id": "a825b0e4.2a051",
        "type": "function",
        "z": "2d2bd18e.3e4abe",
        "name": "store new",
        "func": "flow.set(msg.topic+\"_new\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1419,
        "y": 161,
        "wires": [
            [
                "aef2e472.475238"
            ]
        ]
    },
    {
        "id": "b585fb60.e936a8",
        "type": "inject",
        "z": "2d2bd18e.3e4abe",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122,
        "y": 91,
        "wires": [
            [
                "a6810bb0.a3e788"
            ]
        ]
    },
    {
        "id": "a6810bb0.a3e788",
        "type": "function",
        "z": "2d2bd18e.3e4abe",
        "name": "set properties",
        "func": "var properties = ['routers', 'ip_address', 'domain_name_servers'];\n\nflow.set(\"properties\", properties);\n\n//init properties\nfor(var i=0;i<properties.length;i++){\n    var p = properties[i];\n    flow.set(p, null);\n    flow.set(p+\"_new\", null);\n}\n\nnode.send({payload: true});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 326,
        "y": 91,
        "wires": [
            [
                "6a63b433.e2a73c"
            ]
        ]
    },
    {
        "id": "8d2915b0.eb5188",
        "type": "debug",
        "z": "2d2bd18e.3e4abe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 514,
        "y": 385,
        "wires": []
    },
    {
        "id": "fd5e6a37.bc5d38",
        "type": "ui_toast",
        "z": "2d2bd18e.3e4abe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1310,
        "y": 340,
        "wires": []
    },
    {
        "id": "140df8ca.dea297",
        "type": "change",
        "z": "2d2bd18e.3e4abe",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Settings updated. Reboot device to enable new ip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1097,
        "y": 310,
        "wires": [
            [
                "fd5e6a37.bc5d38"
            ]
        ]
    },
    {
        "id": "ba4f96ca.0f28b8",
        "type": "ui_text",
        "z": "2d2bd18e.3e4abe",
        "group": "1cf52e38.3cfee2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Static ip",
        "format": "{{!msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 248,
        "wires": []
    },
    {
        "id": "fea93690.140ec8",
        "type": "ui_toast",
        "z": "2d2bd18e.3e4abe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1758,
        "y": 161,
        "wires": []
    },
    {
        "id": "aef2e472.475238",
        "type": "change",
        "z": "2d2bd18e.3e4abe",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "New setting stored ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1566,
        "y": 161,
        "wires": [
            [
                "fea93690.140ec8"
            ]
        ]
    },
    {
        "id": "4b72781d.d0e178",
        "type": "ui_text",
        "z": "2d2bd18e.3e4abe",
        "group": "1cf52e38.3cfee2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "help",
        "label": "",
        "format": "To store the new value, once edited, press ENTER or TAB",
        "layout": "col-center",
        "x": 711,
        "y": 91,
        "wires": []
    },
    {
        "id": "f34a641beb964996",
        "type": "ui_slider",
        "z": "bf782cbf60794af0",
        "name": "Lampe1PWM",
        "label": "Setpunkt lys nivå",
        "tooltip": "",
        "group": "6419184378ff1692",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "6498d451b3f61fd0"
            ]
        ]
    },
    {
        "id": "3c0b1e105f7caac4",
        "type": "ui_chart",
        "z": "bf782cbf60794af0",
        "name": "Lampe1mA",
        "group": "6419184378ff1692",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Strømtrekk [mA]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "89de17185eab7328",
        "type": "ui_chart",
        "z": "bf782cbf60794af0",
        "name": "Lampe1Temp",
        "group": "6419184378ff1692",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "120",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "20893d7657a88114",
        "type": "ui_chart",
        "z": "bf782cbf60794af0",
        "name": "Lampe1RH",
        "group": "6419184378ff1692",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "RH [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ec2d5ab05410f64",
        "type": "ui_button",
        "z": "bf782cbf60794af0",
        "name": "",
        "group": "8fb401a08da32934",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c19db39b3b7eda3c"
            ]
        ]
    },
    {
        "id": "c19db39b3b7eda3c",
        "type": "function",
        "z": "bf782cbf60794af0",
        "name": "function 1",
        "func": "\nreturn [\n    {payload:50},\n    {payload:5500},\n    {payload:24},\n    {payload:20}\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "f34a641beb964996"
            ],
            [
                "3c0b1e105f7caac4"
            ],
            [
                "89de17185eab7328"
            ],
            [
                "20893d7657a88114"
            ]
        ]
    },
    {
        "id": "4583c64f12245acf",
        "type": "rpi-gpio out",
        "z": "bf782cbf60794af0",
        "name": "MUX0",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "45b2da1180008867",
        "type": "rpi-gpio out",
        "z": "bf782cbf60794af0",
        "name": "MUX1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "6498d451b3f61fd0",
        "type": "function",
        "z": "bf782cbf60794af0",
        "name": "Set Lampe 1",
        "func": "//let myPST2PWM = [0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 100, 200, 350, 550, 800, 1100, 1300, 1900, 2330, 2557, 2715, 2871, 3026, 3178, 3330, 3479, 3627, 3773, 3918, 4061, 4202, 4342, 4480, 4616, 4751, 4884, 5016, 5145, 5274, 5400, 5525, 5648, 5770, 5890, 6008, 6125, 6240, 6353, 6465, 6575, 6684, 6790, 6895, 6999, 7101, 7201, 7300, 7397, 7492, 7586, 7678, 7768, 7857, 7944, 8029, 8113, 8195, 8276, 8355, 8432, 8508, 8582, 8654, 8725, 8794, 8861, 8927, 8991, 9053, 9114, 9173, 9231, 9287, 9341, 9394, 9445, 9494, 9542, 9588, 9632, 9675, 9716, 9755, 9793, 9829, 9864, 9897, 9928, 9958, 9986, 10000];\nlet myPST2PWM = global.get(\"myPST2PWM\");\n\nreturn [\n    { payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 10, 'address': 30, 'quantity': 1 } },\n    {payload: 1},\n    {payload: 0}\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "ccd83e47a9c934a4"
            ],
            [
                "4583c64f12245acf"
            ],
            [
                "45b2da1180008867"
            ]
        ]
    },
    {
        "id": "59e734e6b8e39ccf",
        "type": "link out",
        "z": "bf782cbf60794af0",
        "name": "link out Lampe 1",
        "mode": "link",
        "links": [
            "ebdd25c05b72abf2"
        ],
        "x": 995,
        "y": 60,
        "wires": []
    },
    {
        "id": "ccd83e47a9c934a4",
        "type": "delay",
        "z": "bf782cbf60794af0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 60,
        "wires": [
            [
                "59e734e6b8e39ccf"
            ]
        ]
    },
    {
        "id": "864bcf9308dbf46e",
        "type": "ui_slider",
        "z": "88be0e5091306a90",
        "name": "Lampe2PWM",
        "label": "Setpunkt lys nivå",
        "tooltip": "",
        "group": "8bb3fa33612b5685",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fbcb339243534caf",
        "type": "ui_chart",
        "z": "88be0e5091306a90",
        "name": "Lampe2mA",
        "group": "8bb3fa33612b5685",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Strømtrekk [mA]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7509a9c199fd4a62",
        "type": "ui_chart",
        "z": "88be0e5091306a90",
        "name": "Lampe2Temp",
        "group": "8bb3fa33612b5685",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "120",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c4327ce3a8c69404",
        "type": "ui_chart",
        "z": "88be0e5091306a90",
        "name": "Lampe2RH",
        "group": "8bb3fa33612b5685",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "RH [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c84e2b58d4246944",
        "type": "ui_slider",
        "z": "ca1e3fc7ee28f5a2",
        "name": "Lampe3PWM",
        "label": "Setpunkt lys nivå",
        "tooltip": "",
        "group": "f735df78474bdbad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "174fe7a7fc68412f"
            ]
        ]
    },
    {
        "id": "2f0b585e0356583e",
        "type": "ui_chart",
        "z": "ca1e3fc7ee28f5a2",
        "name": "Lampe3mA",
        "group": "f735df78474bdbad",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Strømtrekk [mA]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f989646a723bd6d3",
        "type": "ui_chart",
        "z": "ca1e3fc7ee28f5a2",
        "name": "Lampe3Temp",
        "group": "f735df78474bdbad",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "120",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 160,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6a53cd527dad21f2",
        "type": "ui_chart",
        "z": "ca1e3fc7ee28f5a2",
        "name": "Lampe3RH",
        "group": "f735df78474bdbad",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "RH [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e949ba2460d195b8",
        "type": "rpi-gpio out",
        "z": "ca1e3fc7ee28f5a2",
        "name": "MUX0",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "ff25326afd36956c",
        "type": "rpi-gpio out",
        "z": "ca1e3fc7ee28f5a2",
        "name": "MUX1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "174fe7a7fc68412f",
        "type": "function",
        "z": "ca1e3fc7ee28f5a2",
        "name": "Set Lampe 3",
        "func": "//let myPST2PWM = [0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 100, 200, 350, 550, 800, 1100, 1300, 1900, 2330, 2557, 2715, 2871, 3026, 3178, 3330, 3479, 3627, 3773, 3918, 4061, 4202, 4342, 4480, 4616, 4751, 4884, 5016, 5145, 5274, 5400, 5525, 5648, 5770, 5890, 6008, 6125, 6240, 6353, 6465, 6575, 6684, 6790, 6895, 6999, 7101, 7201, 7300, 7397, 7492, 7586, 7678, 7768, 7857, 7944, 8029, 8113, 8195, 8276, 8355, 8432, 8508, 8582, 8654, 8725, 8794, 8861, 8927, 8991, 9053, 9114, 9173, 9231, 9287, 9341, 9394, 9445, 9494, 9542, 9588, 9632, 9675, 9716, 9755, 9793, 9829, 9864, 9897, 9928, 9958, 9986, 10000];\nlet myPST2PWM = global.get(\"myPST2PWM\");\n\nreturn [\n    { payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 10, 'address': 30, 'quantity': 1 } },\n    {payload: 0},\n    {payload: 1}\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "47dd37a6c5d3cb52"
            ],
            [
                "e949ba2460d195b8"
            ],
            [
                "ff25326afd36956c"
            ]
        ]
    },
    {
        "id": "1dea93a4a959d826",
        "type": "link out",
        "z": "ca1e3fc7ee28f5a2",
        "name": "link out Lampe 1",
        "mode": "link",
        "links": [
            "ebdd25c05b72abf2"
        ],
        "x": 735,
        "y": 60,
        "wires": []
    },
    {
        "id": "47dd37a6c5d3cb52",
        "type": "delay",
        "z": "ca1e3fc7ee28f5a2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 60,
        "wires": [
            [
                "1dea93a4a959d826"
            ]
        ]
    }
]