NevaMarine/Bootloader/flows.json
[
    {
        "id": "483a6f631e7f69a7",
        "type": "tab",
        "label": "Oppsett",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abfb29b7fe98de5f",
        "type": "tab",
        "label": "Hjem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38519fcf62fceae2",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2590d1d879b30f0",
        "type": "group",
        "z": "abfb29b7fe98de5f",
        "name": "System",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1f38fb7ad94d5774",
            "438e47f2cab73553",
            "782e1f60e60d73e6",
            "40970db1d04002d7",
            "42e339b84a696b47"
        ],
        "x": 54,
        "y": 59,
        "w": 1012,
        "h": 149.5
    },
    {
        "id": "f89014669a905f2e",
        "type": "group",
        "z": "38519fcf62fceae2",
        "name": "",
        "style": {
            "stroke": "#ffC000",
            "label": true
        },
        "nodes": [
            "941e97387d6bf838",
            "ad1f6f9242f22b62",
            "9a1bad8c603cc5f4",
            "9096739f9495f3d7",
            "046a02568bf18ef0",
            "8d828dadf12808fb",
            "b5fec1b6a60c2a7f",
            "ef1d815e8d0197ce",
            "f7ecdac73d72b68e",
            "e16a8ac076e9c512",
            "960b91115ecf9ca9",
            "ae96ad273b218805",
            "ca05588391bf5d1a",
            "68f50cf5dd8c8649",
            "d1d8b48c3480aaf7",
            "9aa1eedc3a3b0a77",
            "058ab1a67d75cbbb",
            "daba8a8939fa1277",
            "9be447f74a5659c4",
            "8c50d6755452ae51",
            "2ce6dec427f1cd19",
            "7526ba3cdc721460",
            "7b45edf016708260",
            "e0d29919df131947",
            "395464eafa7c018a",
            "b82fbe23fb632e05",
            "cdd65025750dc4f8",
            "c75d7d77b0f5f25e",
            "0b857c92470a61a0",
            "2fe46eac7c22eae5",
            "8ca4edc11fb4728d",
            "b4d917b0862ca05d",
            "b8b4950c74be40ab",
            "02f057e13ba0aa0f",
            "e5f1eea9521533bd",
            "b5d9b643d3018dc5",
            "f159c4c478441d87",
            "211e2a685b25cddf",
            "409f01307431e555",
            "5aa5ed662bbbed2c",
            "bb9e550cf9bde718"
        ],
        "x": 34,
        "y": 699,
        "w": 1282,
        "h": 1182
    },
    {
        "id": "63d9e95b7e27f8c0",
        "type": "group",
        "z": "483a6f631e7f69a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9652c9e68944c869",
            "8606686a.ef7008",
            "52753337.7b5a8c",
            "7274cbde085522a1",
            "8672e44b8c93e04e",
            "f378c2eb37bccb2e",
            "e6597813fd0ae3f4",
            "54b06a2d2d3f7da9",
            "89718a34befe08cc",
            "c7f54ee0b2f3a63a",
            "c14bb127b5df1c7b",
            "fefea0960b0e5ccf",
            "e465494834110f2d",
            "1b2a342569d2a26e",
            "42dc6006f9fea2f4",
            "4137c932c634e85c",
            "8a75d5bd744e8a34",
            "f08261ebfc7c4153",
            "e4b41e99e4495c4e",
            "585fb6d440aca651",
            "43a334e28706087c",
            "13a7ca5bd49cdb11",
            "99221ed0b3ff9b78",
            "5d6762f0715ad17d",
            "f55d92b93a2bc9ab",
            "d993607f45ebee6f",
            "e416f00314dba446",
            "2103052d12fe2218",
            "3b9eea01f3cb8a9c",
            "10f66669a4c75868",
            "088dfb1014c70f1f"
        ],
        "x": 54,
        "y": 439,
        "w": 1392,
        "h": 582
    },
    {
        "id": "ac4ead5e8e82fb90",
        "type": "group",
        "z": "483a6f631e7f69a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9e4b31212a818980",
            "91f87512e16887b3",
            "2ef322e034f98afc",
            "7ba5e248b170868f",
            "99c9f669af88ec05",
            "f32f136301a0888e",
            "e225bb78d03d91c6",
            "7a09ac512fd3f1b4"
        ],
        "x": 54,
        "y": 199,
        "w": 872,
        "h": 182
    },
    {
        "id": "41881c375950137d",
        "type": "group",
        "z": "483a6f631e7f69a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b13ec189cc79f6ba",
            "87af758445f14285",
            "fc771a88fc812e82",
            "f5c628fac390b678",
            "b56eeb28afd7b903",
            "5e26a60998e2c14e",
            "e4c0288adfa9a86f",
            "4b257f03fe785047",
            "343324275668efb1",
            "73b0e388477c6a78",
            "d276a4a2ddf4962d",
            "f2e8fe39856e80ef",
            "ed48a33732eee3a2",
            "f815e316967f8aad",
            "a475fa7038733191",
            "b4c390b2ca2c11f4",
            "fab272a802e81139",
            "56271a130596dd6d",
            "1d0b42dc4ec0277b",
            "02b5e41e6a321d89",
            "46e6bcef5c2750c0"
        ],
        "x": 54,
        "y": 1079,
        "w": 892,
        "h": 502
    },
    {
        "id": "c9d74377db386d63",
        "type": "group",
        "z": "38519fcf62fceae2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c9a7edf8de9c9a12",
            "2a35df0d9aac55b9",
            "a7adcd8a1f04f80c"
        ],
        "x": 34,
        "y": 39,
        "w": 412,
        "h": 142
    },
    {
        "id": "058ab1a67d75cbbb",
        "type": "junction",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "x": 900,
        "y": 900,
        "wires": [
            [
                "9aa1eedc3a3b0a77",
                "9be447f74a5659c4"
            ]
        ]
    },
    {
        "id": "211e2a685b25cddf",
        "type": "junction",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "x": 600,
        "y": 1120,
        "wires": [
            [
                "b5d9b643d3018dc5"
            ]
        ]
    },
    {
        "id": "a34efc6669e0b23a",
        "type": "ui-base",
        "name": "Neva Marine",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashpage",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "7151a80ba6b123df",
        "type": "ui-theme",
        "name": "Neva Marine AS",
        "colors": {
            "surface": "#097479",
            "primary": "#097479",
            "bgPage": "#111111",
            "groupBg": "#333333",
            "groupOutline": "#555555"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "6px",
            "groupGap": "6px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "ff4d78a12d1c8a98",
        "type": "ui-page",
        "name": "Hjem",
        "ui": "a34efc6669e0b23a",
        "path": "/hjem",
        "icon": "home",
        "layout": "grid",
        "theme": "7151a80ba6b123df",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d5e8bd2b1115be28",
        "type": "shared-state",
        "name": "FW_Link",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "str",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "984d640ef763cab4",
        "type": "shared-state",
        "name": "myHWaddr",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "str",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "94dfd7648f9e7446",
        "type": "ui-page",
        "name": "Oppsett",
        "ui": "a34efc6669e0b23a",
        "path": "/Oppsett",
        "icon": "tune",
        "layout": "grid",
        "theme": "7151a80ba6b123df",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "abb155b2a3b51c32",
        "type": "ui-group",
        "name": "System",
        "page": "ff4d78a12d1c8a98",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8085ac2cfd9fe232",
        "type": "ui-group",
        "name": "Nettverk",
        "page": "94dfd7648f9e7446",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2fc0f99eeddfe6d3",
        "type": "mqtt-broker",
        "name": "BIO3000",
        "broker": "128.199.38.63",
        "port": 1883,
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7e9fe26a8d71a7f",
        "type": "ui-group",
        "name": "Programvare",
        "page": "94dfd7648f9e7446",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7a607f334ec9b0f4",
        "type": "ui-spacer",
        "group": "b7e9fe26a8d71a7f",
        "name": "spacer",
        "order": 2,
        "width": 4,
        "height": 1,
        "className": ""
    },
    {
        "id": "7a6083bedb444feb",
        "type": "ui-spacer",
        "group": "b7e9fe26a8d71a7f",
        "name": "spacer",
        "order": 5,
        "width": 2,
        "height": 1,
        "className": ""
    },
    {
        "id": "7a7142f656fbaae4",
        "type": "ui-spacer",
        "group": "8085ac2cfd9fe232",
        "name": "spacer",
        "order": 5,
        "width": 3,
        "height": 1,
        "className": ""
    },
    {
        "id": "ee932add205df226",
        "type": "shared-state",
        "name": "planleggerTabell",
        "lbl": "",
        "tags": "",
        "historyCount": 2,
        "dataType": "obj",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "",
        "saveInterval": "0"
    },
    {
        "id": "fa3730ed027da2df",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "50",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "9652c9e68944c869",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "Hent Hostname og MAC og IP",
        "info": "",
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "8606686a.ef7008",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract HWaddr",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"ether \") + 6; // Offset the start of the address from \"ether \"\nlet addr = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nreturn { payload : addr }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 600,
        "wires": [
            [
                "54b06a2d2d3f7da9",
                "d993607f45ebee6f"
            ]
        ]
    },
    {
        "id": "52753337.7b5a8c",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "command": "ifconfig eth0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "8606686a.ef7008",
                "f378c2eb37bccb2e"
            ],
            [],
            []
        ]
    },
    {
        "id": "7274cbde085522a1",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract Hostname",
        "func": "let hostname = msg.payload; // Save the payload string to a more convenient variable name\n\nreturn { payload : hostname.trim() };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 540,
        "wires": [
            [
                "89718a34befe08cc",
                "3b9eea01f3cb8a9c"
            ]
        ]
    },
    {
        "id": "8672e44b8c93e04e",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "command": "hostname",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "7274cbde085522a1"
            ],
            [],
            []
        ]
    },
    {
        "id": "f378c2eb37bccb2e",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract IP",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"inet \") + 5; // Offset the start of the address from \"inet \"\nlet ip = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nif ( (start == 5) || (start == 4) ) {\n    ip = \"Not available\";\n}\n\nreturn { payload : ip }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "10f66669a4c75868"
            ]
        ]
    },
    {
        "id": "e6597813fd0ae3f4",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "command": "ifconfig wlan0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "fefea0960b0e5ccf"
            ],
            [],
            []
        ]
    },
    {
        "id": "54b06a2d2d3f7da9",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HWaddr",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 600,
        "wires": [
            [
                "99221ed0b3ff9b78"
            ]
        ]
    },
    {
        "id": "89718a34befe08cc",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hostname",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f54ee0b2f3a63a",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "command": "cat /etc/wpa_supplicant/wpa_supplicant.conf",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "1b2a342569d2a26e",
                "42dc6006f9fea2f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "c14bb127b5df1c7b",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract available SSID",
        "func": "let myArray = msg.payload;\nlet mySSIDs = \"SSID(s):\";\n\n// List all SSIDs\nfor(let i=0;i<myArray.length;i++) {\n    mySSIDs = mySSIDs + \" \" + myArray[i].ssid;\n}\n\nreturn { payload : mySSIDs }; // return the SSIDs found as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "e416f00314dba446"
            ]
        ]
    },
    {
        "id": "fefea0960b0e5ccf",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract IP",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"inet \") + 5; // Offset the start of the address from \"inet \"\nlet ip = ifconfig.substring(start, ifconfig.indexOf(' ', start)); // Get up until the next space\n\nif ( (start == 5) || (start == 4) ) {\n    ip = \"Not available\";\n}\n\nreturn { payload : ip }; // return the address as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 740,
        "wires": [
            [
                "088dfb1014c70f1f"
            ]
        ]
    },
    {
        "id": "e465494834110f2d",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Oppsett",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "8672e44b8c93e04e",
                "52753337.7b5a8c",
                "e6597813fd0ae3f4",
                "c7f54ee0b2f3a63a",
                "5d6762f0715ad17d"
            ]
        ]
    },
    {
        "id": "1b2a342569d2a26e",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract SSID",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"ssid=\") + 6; // Offset the start of the SSID \"\nlet mySSID = ifconfig.substring(start, ifconfig.indexOf('\"', start)); // Get up until the next space\n\n// Store orginal value\nflow.set(\"orgSSID\", mySSID);\n\nreturn { payload: mySSID }; // return the SSID as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "42dc6006f9fea2f4",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "extract psk",
        "func": "let ifconfig = msg.payload; // Save the payload string to a more convenient variable name\nlet start = ifconfig.indexOf(\"psk=\") + 5; // Offset the start of the psk \"\nlet myPSK = ifconfig.substring(start, ifconfig.indexOf('\"', start)); // Get up until the next space\n\n// Store orginal value\nflow.set(\"orgPSK\", myPSK);\n\n\nreturn { payload: myPSK }; // return the PSK as the new payload",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4137c932c634e85c",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "Endring?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "orgSSID",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 900,
        "wires": [
            [
                "f08261ebfc7c4153"
            ]
        ]
    },
    {
        "id": "8a75d5bd744e8a34",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "Endring?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "orgPSK",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 940,
        "wires": [
            [
                "585fb6d440aca651"
            ]
        ]
    },
    {
        "id": "f08261ebfc7c4153",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "send commands",
        "func": "let newValue = msg.payload;\nlet orgValue = flow.get(\"orgSSID\"); \n\nlet command = `'s?ssid=\"${orgValue}\"?ssid=\"${newValue}\"?g' /etc/wpa_supplicant/wpa_supplicant.conf`;\n\nflow.set(\"orgSSID\",newValue);\n\nreturn {payload: command};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "e4b41e99e4495c4e"
            ]
        ]
    },
    {
        "id": "e4b41e99e4495c4e",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "command": "sudo sed -i ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1350,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "585fb6d440aca651",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "send commands",
        "func": "let newValue = msg.payload;\nlet orgValue = flow.get(\"orgPSK\"); \n\nlet command = `'s?psk=\"${orgValue}\"?psk=\"${newValue}\"?g' /etc/wpa_supplicant/wpa_supplicant.conf`;\n\nflow.set(\"orgPSK\",newValue);\n\nreturn {payload: command};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 940,
        "wires": [
            [
                "e4b41e99e4495c4e"
            ]
        ]
    },
    {
        "id": "43a334e28706087c",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "link in SSID",
        "links": [],
        "x": 625,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "13a7ca5bd49cdb11",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "link in WifiPassword",
        "links": [],
        "x": 625,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9e4b31212a818980",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "Omstart",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "91f87512e16887b3",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm_clicked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "e225bb78d03d91c6",
                "7a09ac512fd3f1b4"
            ]
        ]
    },
    {
        "id": "99221ed0b3ff9b78",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "state": "984d640ef763cab4",
        "name": "myHWaddr",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1010,
        "y": 600,
        "wires": []
    },
    {
        "id": "5d6762f0715ad17d",
        "type": "wifiscan",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "c14bb127b5df1c7b"
            ]
        ]
    },
    {
        "id": "2ef322e034f98afc",
        "type": "restart",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "40382b50765dbe43",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "name": "System",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ba5e248b170868f",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "link in Reset",
        "links": [
            "daba8a8939fa1277"
        ],
        "x": 705,
        "y": 340,
        "wires": [
            [
                "2ef322e034f98afc"
            ]
        ]
    },
    {
        "id": "f55d92b93a2bc9ab",
        "type": "ui-control",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "ui": "a34efc6669e0b23a",
        "events": "change",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "e465494834110f2d"
            ]
        ]
    },
    {
        "id": "d993607f45ebee6f",
        "type": "ui-text",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "group": "8085ac2cfd9fe232",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "ShowHWaddr",
        "label": "MAC:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "e416f00314dba446",
        "type": "ui-notification",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "ui": "a34efc6669e0b23a",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 830,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7bb569857b3fb41a",
        "type": "ui-template",
        "z": "483a6f631e7f69a7",
        "group": "",
        "page": "",
        "ui": "a34efc6669e0b23a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* Set Background picture */\n.v-main {\n    background-image: url(\"/Background.png\");\n    background-repeat: no-repeat;\n    background-position: center;\n    background-size: contain;\n}\n\n/* Styling for all the groups */\nui-card-panel {\n    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 25px !important;\n    border-radius: 5px;\n    background: rgba(50, 50, 50, 0.75) !important;\n}\n\n/* Styling for all the lelements in the groups */\nui-card-panel * {\n    border-radius: 2.5px;\n}\n\n/* Styling */\nmd-card {\n    background: rgba(50, 50, 50, 0.75) !important;\n}\n\n/* Styling of the Group Title */\n.nr-dashboard-cardtitle {\n    font-weight: bold !important;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 120,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2103052d12fe2218",
        "type": "inject",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "52753337.7b5a8c",
                "8672e44b8c93e04e",
                "e6597813fd0ae3f4"
            ]
        ]
    },
    {
        "id": "3b9eea01f3cb8a9c",
        "type": "ui-text",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "group": "8085ac2cfd9fe232",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ShowHostname",
        "label": "Hostname:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "10f66669a4c75868",
        "type": "ui-text",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "group": "8085ac2cfd9fe232",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "eth0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "088dfb1014c70f1f",
        "type": "ui-text",
        "z": "483a6f631e7f69a7",
        "g": "63d9e95b7e27f8c0",
        "group": "8085ac2cfd9fe232",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "wlan0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "99c9f669af88ec05",
        "type": "ui-button",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "group": "b7e9fe26a8d71a7f",
        "name": "",
        "label": "Omstart",
        "order": 6,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "<h3>Trykk OK for omstart av systemmet. Hvis du ikke er sikker - trykk CANCEL nå!</h3>",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "f32f136301a0888e"
            ]
        ]
    },
    {
        "id": "f32f136301a0888e",
        "type": "ui-notification",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "ui": "a34efc6669e0b23a",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "300",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Cancel",
        "allowConfirm": true,
        "confirmText": "OK",
        "raw": true,
        "className": "",
        "name": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "91f87512e16887b3"
            ]
        ]
    },
    {
        "id": "e225bb78d03d91c6",
        "type": "delay",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "2ef322e034f98afc"
            ]
        ]
    },
    {
        "id": "7a09ac512fd3f1b4",
        "type": "link out",
        "z": "483a6f631e7f69a7",
        "g": "ac4ead5e8e82fb90",
        "name": "link out Reset µC's",
        "mode": "link",
        "links": [],
        "x": 615,
        "y": 260,
        "wires": []
    },
    {
        "id": "b13ec189cc79f6ba",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FW_Link",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "87af758445f14285",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "OK ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm_clicked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "f5c628fac390b678"
            ]
        ]
    },
    {
        "id": "fc771a88fc812e82",
        "type": "exec",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "command": "sudo wget -cO - ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "",
        "x": 550,
        "y": 1420,
        "wires": [
            [
                "b56eeb28afd7b903"
            ],
            [
                "b56eeb28afd7b903"
            ],
            [
                "b56eeb28afd7b903",
                "5e26a60998e2c14e"
            ]
        ]
    },
    {
        "id": "f5c628fac390b678",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "send commands",
        "func": "let myParam = flow.get(\"FW_Link\") + \" > /home/pi/.node-red/flows.json\";\n\nreturn { payload: myParam }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1420,
        "wires": [
            [
                "fc771a88fc812e82"
            ]
        ]
    },
    {
        "id": "b56eeb28afd7b903",
        "type": "debug",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1420,
        "wires": []
    },
    {
        "id": "5e26a60998e2c14e",
        "type": "switch",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "Alt i orden?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "e4c0288adfa9a86f"
            ],
            [
                "343324275668efb1"
            ]
        ]
    },
    {
        "id": "e4c0288adfa9a86f",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "Programvare Oppdatert!",
        "func": "return { payload: \"Programvare Oppdatert! Omstart nødvendig for at endringene skal tre i kraft - kjører omstart nå...\" };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1500,
        "wires": [
            [
                "4b257f03fe785047",
                "56271a130596dd6d"
            ]
        ]
    },
    {
        "id": "4b257f03fe785047",
        "type": "delay",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "f2e8fe39856e80ef"
            ]
        ]
    },
    {
        "id": "343324275668efb1",
        "type": "function",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "Uff da... Dette gikk jo ikke.",
        "func": "return { payload: \"Uff da! Fikk ikke tak i Programvaren.\" + msg.payload.message };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1540,
        "wires": [
            [
                "56271a130596dd6d"
            ]
        ]
    },
    {
        "id": "73b0e388477c6a78",
        "type": "get-shared-state",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "state": "d5e8bd2b1115be28",
        "name": "FW_Link",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "a475fa7038733191"
            ]
        ]
    },
    {
        "id": "d276a4a2ddf4962d",
        "type": "set-shared-state",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "state": "d5e8bd2b1115be28",
        "name": "FW_Link",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 550,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f2e8fe39856e80ef",
        "type": "restart",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "",
        "x": 850,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ed48a33732eee3a2",
        "type": "comment",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "FW Upgrade",
        "info": "",
        "x": 150,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f815e316967f8aad",
        "type": "link in",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "link in runFWUpgrade",
        "links": [
            "8c50d6755452ae51"
        ],
        "x": 225,
        "y": 1420,
        "wires": [
            [
                "f5c628fac390b678"
            ]
        ]
    },
    {
        "id": "a475fa7038733191",
        "type": "ui-text-input",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "group": "b7e9fe26a8d71a7f",
        "name": "",
        "label": "FW link:",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 350,
        "y": 1240,
        "wires": [
            [
                "b13ec189cc79f6ba",
                "d276a4a2ddf4962d"
            ]
        ]
    },
    {
        "id": "b4c390b2ca2c11f4",
        "type": "ui-button",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "group": "b7e9fe26a8d71a7f",
        "name": "",
        "label": "Oppdater programvare",
        "order": 4,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "<h3>Er du sikker på at du vil oppdatere programvare nå?</h3>",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1340,
        "wires": [
            [
                "fab272a802e81139"
            ]
        ]
    },
    {
        "id": "fab272a802e81139",
        "type": "ui-notification",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "ui": "a34efc6669e0b23a",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "300",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Nei",
        "allowConfirm": true,
        "confirmText": "Ja",
        "raw": true,
        "className": "",
        "name": "",
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "87af758445f14285"
            ]
        ]
    },
    {
        "id": "56271a130596dd6d",
        "type": "ui-notification",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "ui": "a34efc6669e0b23a",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Nei",
        "allowConfirm": false,
        "confirmText": "Ja",
        "raw": true,
        "className": "",
        "name": "",
        "x": 710,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0b42dc4ec0277b",
        "type": "ui-text",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "group": "b7e9fe26a8d71a7f",
        "order": 1,
        "width": 2,
        "height": 0,
        "name": "FW version",
        "label": "FW version:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "02b5e41e6a321d89",
        "type": "inject",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "Set FW version",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "v. 3.0.11",
        "payloadType": "str",
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "46e6bcef5c2750c0"
            ]
        ]
    },
    {
        "id": "46e6bcef5c2750c0",
        "type": "change",
        "z": "483a6f631e7f69a7",
        "g": "41881c375950137d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FWversion",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "1d0b42dc4ec0277b"
            ]
        ]
    },
    {
        "id": "1f38fb7ad94d5774",
        "type": "inject",
        "z": "abfb29b7fe98de5f",
        "g": "b2590d1d879b30f0",
        "name": "Read Raspberry Pi core temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "438e47f2cab73553"
            ]
        ]
    },
    {
        "id": "438e47f2cab73553",
        "type": "exec",
        "z": "abfb29b7fe98de5f",
        "g": "b2590d1d879b30f0",
        "command": "vcgencmd measure_temp",
        "addpay": "",
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "782e1f60e60d73e6"
            ],
            [],
            []
        ]
    },
    {
        "id": "782e1f60e60d73e6",
        "type": "function",
        "z": "abfb29b7fe98de5f",
        "g": "b2590d1d879b30f0",
        "name": "Remove temp=",
        "func": "let str = msg.payload;\nlet arr = str.split(\"=\");\narr.shift();\nstr = arr.join(\"=\");\nlet CPU = parseFloat(str)\nglobal.set(\"CPU\", CPU);\nnode.status({text: \"CPU: \" + CPU + \"°C\"})\nreturn { payload: CPU };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 160,
        "wires": [
            [
                "40970db1d04002d7"
            ]
        ]
    },
    {
        "id": "40970db1d04002d7",
        "type": "ui-gauge",
        "z": "abfb29b7fe98de5f",
        "g": "b2590d1d879b30f0",
        "name": "CPU",
        "group": "abb155b2a3b51c32",
        "order": 1,
        "width": "2",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CPU",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "60",
                "color": "#ffc800"
            },
            {
                "from": "75",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "42e339b84a696b47",
        "type": "comment",
        "z": "abfb29b7fe98de5f",
        "g": "b2590d1d879b30f0",
        "name": "Raspberry pi CPU temp.",
        "info": "",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "c41f7ebf295f8583",
        "type": "serial in",
        "z": "abfb29b7fe98de5f",
        "name": "",
        "serial": "fa3730ed027da2df",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "f853b898b90d23f1"
            ]
        ]
    },
    {
        "id": "f853b898b90d23f1",
        "type": "debug",
        "z": "abfb29b7fe98de5f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "9eba1b056056d18b",
        "type": "rpi-gpio out",
        "z": "abfb29b7fe98de5f",
        "name": "ledY",
        "pin": "27",
        "set": false,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 350,
        "y": 460,
        "wires": []
    },
    {
        "id": "8641663350069ba8",
        "type": "rpi-gpio out",
        "z": "abfb29b7fe98de5f",
        "name": "ledG",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "39a61dc7b0396730",
        "type": "rpi-gpio in",
        "z": "abfb29b7fe98de5f",
        "name": "",
        "pin": "4",
        "intype": "tri",
        "debounce": "35",
        "read": true,
        "bcm": true,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "05c7f65e2035f4cd"
            ]
        ]
    },
    {
        "id": "05c7f65e2035f4cd",
        "type": "debug",
        "z": "abfb29b7fe98de5f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "a68421fb08549f57",
        "type": "inject",
        "z": "abfb29b7fe98de5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "8641663350069ba8"
            ]
        ]
    },
    {
        "id": "ef26129e966b8ecd",
        "type": "inject",
        "z": "abfb29b7fe98de5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "8641663350069ba8"
            ]
        ]
    },
    {
        "id": "c9a7edf8de9c9a12",
        "type": "mqtt in",
        "z": "38519fcf62fceae2",
        "g": "c9d74377db386d63",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2fc0f99eeddfe6d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2a35df0d9aac55b9",
        "type": "comment",
        "z": "38519fcf62fceae2",
        "g": "c9d74377db386d63",
        "name": "Connect",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "a7adcd8a1f04f80c",
        "type": "inject",
        "z": "38519fcf62fceae2",
        "g": "c9d74377db386d63",
        "name": "Connect to Broker",
        "props": [
            {
                "p": "action",
                "v": "connect",
                "vt": "str"
            },
            {
                "p": "broker",
                "v": "{\"broker\":\"128.199.38.63\",\"port\":1883,\"username\":\"bio3000\",\"password\":\"Joy53606\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c9a7edf8de9c9a12"
            ]
        ]
    },
    {
        "id": "77bceff0b8fd48b4",
        "type": "comment",
        "z": "38519fcf62fceae2",
        "name": "Ping med Posisjon",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "1e23e26fe9b3e9c8",
        "type": "function",
        "z": "38519fcf62fceae2",
        "name": "Format geometry-telegram",
        "func": "let myTopic = \"data/\" + global.get(\"HWaddr\");\nlet myPayload = {};\nlet myGeometric = {};\nlet myLat = global.get(\"myLat\");\nlet myLon = global.get(\"myLon\");\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\n\nmyGeometric[\"type\"] = \"Point\"; // myGeo.geometry.type;\nmyGeometric[\"coordinates\"] = [myLon, myLat];  // myGeo.geometry.coordinate;\n\nmyPayload[\"geometry\"] = myGeometric;\n\nreturn {\"topic\": myTopic, \"payload\": myPayload };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "14cf84e811a02a85",
        "type": "link in",
        "z": "38519fcf62fceae2",
        "name": "link in Geometry-telegram",
        "links": [
            "ae96ad273b218805"
        ],
        "x": 185,
        "y": 320,
        "wires": [
            [
                "1e23e26fe9b3e9c8"
            ]
        ]
    },
    {
        "id": "883e86dcfaa6d5a5",
        "type": "mqtt out",
        "z": "38519fcf62fceae2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2fc0f99eeddfe6d3",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "941e97387d6bf838",
        "type": "inject",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "ad1f6f9242f22b62"
            ]
        ]
    },
    {
        "id": "ad1f6f9242f22b62",
        "type": "function",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Set topic: ktas_cmd/<HWaddr>",
        "func": "let myTopic = \"ktas_cmd/\" + global.get(\"HWaddr\");\n\nnode.status({fill:\"green\",shape:\"ring\",text:myTopic});\n\nreturn {\"action\": \"subscribe\", \"topic\": myTopic};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 860,
        "wires": [
            [
                "9a1bad8c603cc5f4"
            ]
        ]
    },
    {
        "id": "9a1bad8c603cc5f4",
        "type": "mqtt in",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2fc0f99eeddfe6d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "9096739f9495f3d7",
                "e5f1eea9521533bd"
            ]
        ]
    },
    {
        "id": "9096739f9495f3d7",
        "type": "function",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Parse incoming System data",
        "func": "let getStatus = null;\nlet getConfig = null;\nlet getPos = null;\nlet setReset = null;\nlet setRunFWUpgrade = null;\nlet setLat = null;\nlet setLon = null;\nlet setMAN = null;\nlet setAUTO = null;\nlet planleggerTabell = null;\n\n\n// Command (cmd)\nif ((msg.payload.cmd === \"Status\") || (msg.payload.cmd === \"status\") || (msg.payload.cmd === \"STATUS\")) {\n    getStatus = true;\n} else if ((msg.payload.cmd === \"Konfig\") || (msg.payload.cmd === \"konfig\") || (msg.payload.cmd === \"KONFIG\")\n    || (msg.payload.cmd === \"Config\") || (msg.payload.cmd === \"config\") || (msg.payload.cmd === \"CONFIG\")) {\n    getConfig = true;\n} else if ((msg.payload.cmd === \"Pos\") || (msg.payload.cmd === \"pos\") || (msg.payload.cmd === \"POS\")\n    || (msg.payload.cmd === \"gps\") || (msg.payload.cmd === \"GPS\")) {\n    getPos = true;\n} else if ((msg.payload.cmd === \"Reset\") || (msg.payload.cmd === \"reset\") || (msg.payload.cmd === \"RESET\")) {\n    setReset = true;\n} else if ((msg.payload.cmd === \"RunFWUpgrade\") || (msg.payload.cmd === \"runfwupgrade\") || (msg.payload.cmd === \"Run FW upgrade\") || (msg.payload.cmd === \"RUNFWUPGRADE\")) {\n    setRunFWUpgrade = true;\n} else if ((msg.payload.cmd === \"MAN\") || (msg.payload.cmd === \"man\") || (msg.payload.cmd === \"Manuell\") || (msg.payload.cmd === \"manuell\") ) {\n    setMAN = true;\n} else if ((msg.payload.cmd === \"AUTO\") || (msg.payload.cmd === \"auto\") || (msg.payload.cmd === \"Auto\") ) {\n    setAUTO = true;\n}\n\n\n// Lat\nif (msg.payload.Lat !== undefined) {\n    setLat = msg.payload.Lat;\n}\n\n// Lon\nif (msg.payload.Lon !== undefined) {\n    setLon = msg.payload.Lon;\n}\n\n// planlegger Tabell\nif (msg.payload.planleggerTabell !== undefined) {\n    if (Array.isArray(msg.payload.planleggerTabell)) {\n        if ( (msg.payload.planleggerTabell.length === 0)\n          || ( (msg.payload.planleggerTabell[0].Tid !== undefined) \n            && (msg.payload.planleggerTabell[0].Lys !== undefined) \n            && (msg.payload.planleggerTabell[0].Lamper !== undefined) ) \n        ) {\n            planleggerTabell = msg.payload.planleggerTabell;\n        }\n    }\n}\n\nreturn [\n    ( getStatus === null ? null : { payload: getStatus } ),\n    ( getConfig === null ? null : { payload: getConfig } ),\n    ( getPos === null ? null : { payload: getPos } ),\n    ( setReset === null ? null : { payload: setReset } ),\n    ( setRunFWUpgrade === null ? null : { payload: setRunFWUpgrade } ),\n    ( msg.payload.Stigetid === undefined ? null : { payload: msg.payload.Stigetid } ),\n    ( msg.payload.Dimmetid === undefined ? null : { payload: msg.payload.Dimmetid } ),\n    ( msg.payload.MaxDriverTemperatur === undefined ? null : { payload: msg.payload.MaxDriverTemperatur } ),\n    ( msg.payload.DriverCoolDownPWM === undefined ? null : { payload: msg.payload.DriverCoolDownPWM } ),\n    ( setLat === null ? null : { payload: setLat } ),\n    ( setLon === null ? null : { payload: setLon } ),\n    ( setMAN === null ? null : { payload: 0 } ),\n    ( setAUTO === null ? null : { payload: 1 } ),\n    ( planleggerTabell === null ? null : { payload: planleggerTabell } )\n];",
        "outputs": 14,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "d1d8b48c3480aaf7"
            ],
            [
                "ca05588391bf5d1a"
            ],
            [
                "ae96ad273b218805"
            ],
            [
                "058ab1a67d75cbbb"
            ],
            [
                "8c50d6755452ae51"
            ],
            [
                "2fe46eac7c22eae5"
            ],
            [
                "8ca4edc11fb4728d"
            ],
            [
                "b4d917b0862ca05d"
            ],
            [
                "b8b4950c74be40ab"
            ],
            [
                "0b857c92470a61a0"
            ],
            [
                "c75d7d77b0f5f25e"
            ],
            [
                "211e2a685b25cddf"
            ],
            [
                "211e2a685b25cddf"
            ],
            [
                "5aa5ed662bbbed2c"
            ]
        ]
    },
    {
        "id": "046a02568bf18ef0",
        "type": "function",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Set Lampe x Enable",
        "func": "node.status({'text': \"Lampe \" + msg.payload.Lampe + \": \" + msg.payload.Enable});\nreturn [ \n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==1)) ? { payload: msg.payload.Enable}:null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==2)) ? { payload: msg.payload.Enable}:null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==3)) ? { payload: msg.payload.Enable}:null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==4)) ? { payload: msg.payload.Enable}:null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==5)) ? { payload: msg.payload.Enable}:null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==6)) ? { payload: msg.payload.Enable}:null)\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1660,
        "wires": [
            [
                "8d828dadf12808fb"
            ],
            [
                "b5fec1b6a60c2a7f"
            ],
            [
                "ef1d815e8d0197ce"
            ],
            [
                "f7ecdac73d72b68e"
            ],
            [
                "e16a8ac076e9c512"
            ],
            [
                "960b91115ecf9ca9"
            ]
        ]
    },
    {
        "id": "8d828dadf12808fb",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe1En",
        "mode": "link",
        "links": [],
        "x": 1195,
        "y": 1600,
        "wires": []
    },
    {
        "id": "b5fec1b6a60c2a7f",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe2En",
        "mode": "link",
        "links": [],
        "x": 1235,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ef1d815e8d0197ce",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe3En",
        "mode": "link",
        "links": [],
        "x": 1275,
        "y": 1640,
        "wires": []
    },
    {
        "id": "f7ecdac73d72b68e",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe4En",
        "mode": "link",
        "links": [],
        "x": 1275,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e16a8ac076e9c512",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe5En",
        "mode": "link",
        "links": [],
        "x": 1235,
        "y": 1700,
        "wires": []
    },
    {
        "id": "960b91115ecf9ca9",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Lampe6En",
        "mode": "link",
        "links": [],
        "x": 1195,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ae96ad273b218805",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out GNSS",
        "mode": "link",
        "links": [
            "14cf84e811a02a85"
        ],
        "x": 955,
        "y": 880,
        "wires": []
    },
    {
        "id": "cdc566247c5fbc4c",
        "type": "link in",
        "z": "38519fcf62fceae2",
        "name": "link in Oppdater konfigurasjon",
        "links": [
            "ca05588391bf5d1a"
        ],
        "x": 185,
        "y": 460,
        "wires": [
            [
                "bc65bd0441382528"
            ]
        ]
    },
    {
        "id": "bc65bd0441382528",
        "type": "function",
        "z": "38519fcf62fceae2",
        "name": "Oppdater konfigurasjon",
        "func": "var myTopic = \"data/\" + global.get(\"HWaddr\");\nvar myPayload = {};\nvar myConfig = {};\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\nmyPayload[\"NodeRedFW\"] = global.get(\"FWversion\");\n\nmyConfig[\"hostname\"] = global.get(\"hostname\");\nmyConfig[\"Stigetid\"] = global.get(\"Stigetid\");\nmyConfig[\"Dimmetid\"] = global.get(\"Dimmetid\");\nmyConfig[\"MaxDriverTemp\"] = global.get(\"MaxDriverTemperatur\");\nmyConfig[\"DriverCoolDownPWM\"] = global.get(\"DriverCoolDownPWM\");\nmyConfig[\"Lampe1En\"] = global.get(\"Lampe1En\");\nmyConfig[\"Lampe2En\"] = global.get(\"Lampe2En\");\nmyConfig[\"Lampe3En\"] = global.get(\"Lampe3En\");\nmyConfig[\"Lampe4En\"] = global.get(\"Lampe4En\");\nmyConfig[\"Lampe5En\"] = global.get(\"Lampe5En\");\nmyConfig[\"Lampe6En\"] = global.get(\"Lampe6En\");\nmyConfig[\"planleggerTabell\"] = global.get(\"planleggerTabell\");\n\nmyPayload[\"config\"] = myConfig;\n\nreturn {\"topic\": myTopic, \"payload\": myPayload };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ca05588391bf5d1a",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Get Config",
        "mode": "link",
        "links": [
            "cdc566247c5fbc4c"
        ],
        "x": 955,
        "y": 840,
        "wires": []
    },
    {
        "id": "68f50cf5dd8c8649",
        "type": "comment",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Prosess inndata",
        "info": "",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "0b5b51e133119388",
        "type": "comment",
        "z": "38519fcf62fceae2",
        "name": "Send konfigurasjonsendringer",
        "info": "",
        "x": 180,
        "y": 400,
        "wires": []
    },
    {
        "id": "8a7d7ddbfcf9ee62",
        "type": "comment",
        "z": "38519fcf62fceae2",
        "name": "Send prosessdata",
        "info": "",
        "x": 150,
        "y": 540,
        "wires": []
    },
    {
        "id": "ff04b81d5c38fd80",
        "type": "link in",
        "z": "38519fcf62fceae2",
        "name": "link in Oppdater prosessdata",
        "links": [
            "d1d8b48c3480aaf7"
        ],
        "x": 185,
        "y": 600,
        "wires": [
            [
                "aabc4b73c43590e4"
            ]
        ]
    },
    {
        "id": "aabc4b73c43590e4",
        "type": "function",
        "z": "38519fcf62fceae2",
        "name": "Oppdater prosessdata",
        "func": "var myTopic = \"data/\" + global.get(\"HWaddr\");\nvar myPayload = {};\nvar myStatus = (global.get(\"myModeSelector\") == 0 ? \"M\" : \"A\") + global.get(\"mySystemStatusIndikator\");  // Status[0] = <A,O,M> (Auto, Off, Manuell), Status[1] = <ÿ,G,g,Y,y,R,r> (Off,Grønn,grønnblink,Gul,gulblink,Rød, rødblink)\nvar mySystem = {};\nvar myData = {};\n\nmyPayload[\"IMEI\"] = global.get(\"HWaddr\");\nmyPayload[\"epoch\"] = Math.round(Date.now() / 1000);\n\n//mySystem[\"driverTemp\"] = global.get(\"DriverTemperatur\");\nmySystem[\"CPU\"] = global.get(\"CPU\");\nmySystem[\"CardTemp\"] = parseFloat(global.get(\"CardTemp\"));\nmySystem[\"CardHum\"] = parseFloat(global.get(\"CardHum\"));\nmySystem[\"systemTemp\"] = parseFloat(global.get(\"systemTemp\"));\n\n\nmyPayload[\"status\"] = myStatus;\n\nmyData[\"System\"] = mySystem;\nmyData[\"Lampe1Data\"] = global.get(\"Lampe1Data\");\nmyData[\"Lampe2Data\"] = global.get(\"Lampe2Data\");\nmyData[\"Lampe3Data\"] = global.get(\"Lampe3Data\");\nmyData[\"Lampe4Data\"] = global.get(\"Lampe4Data\");\nmyData[\"Lampe5Data\"] = global.get(\"Lampe5Data\");\nmyData[\"Lampe6Data\"] = global.get(\"Lampe6Data\");\n\nmyPayload[\"data\"] = myData;\n\nlet d = new Date(Date.now());\nlet myFilename = '/home/pi/logg/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '.txt';\n\nreturn { \"topic\": myTopic, \"payload\": myPayload, \"filename\": myFilename };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d8b48c3480aaf7",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Get Status",
        "mode": "link",
        "links": [
            "ff04b81d5c38fd80"
        ],
        "x": 955,
        "y": 800,
        "wires": []
    },
    {
        "id": "9aa1eedc3a3b0a77",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Reset",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 920,
        "wires": []
    },
    {
        "id": "daba8a8939fa1277",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Reboot",
        "mode": "link",
        "links": [
            "7ba5e248b170868f"
        ],
        "x": 1175,
        "y": 900,
        "wires": []
    },
    {
        "id": "9be447f74a5659c4",
        "type": "delay",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "daba8a8939fa1277"
            ]
        ]
    },
    {
        "id": "8c50d6755452ae51",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out FWUpdate",
        "mode": "link",
        "links": [
            "f815e316967f8aad"
        ],
        "x": 955,
        "y": 980,
        "wires": []
    },
    {
        "id": "2ce6dec427f1cd19",
        "type": "function",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Set Lampe x PWM",
        "func": "node.status({'text': msg.payload.Lampe + \" \" + msg.payload.setPWM});\nreturn [ \n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==1)) ? { payload: msg.payload.setPWM} : null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==2)) ? { payload: msg.payload.setPWM} : null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==3)) ? { payload: msg.payload.setPWM} : null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==4)) ? { payload: msg.payload.setPWM} : null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==5)) ? { payload: msg.payload.setPWM} : null),\n    (((msg.payload.Lampe==0) || (msg.payload.Lampe==6)) ? { payload: msg.payload.setPWM} : null)\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1500,
        "wires": [
            [
                "7526ba3cdc721460"
            ],
            [
                "7b45edf016708260"
            ],
            [
                "e0d29919df131947"
            ],
            [
                "395464eafa7c018a"
            ],
            [
                "b82fbe23fb632e05"
            ],
            [
                "cdd65025750dc4f8"
            ]
        ]
    },
    {
        "id": "7526ba3cdc721460",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 1",
        "mode": "link",
        "links": [],
        "x": 1175,
        "y": 1440,
        "wires": []
    },
    {
        "id": "7b45edf016708260",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 2",
        "mode": "link",
        "links": [],
        "x": 1215,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e0d29919df131947",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 3",
        "mode": "link",
        "links": [],
        "x": 1255,
        "y": 1480,
        "wires": []
    },
    {
        "id": "395464eafa7c018a",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 4",
        "mode": "link",
        "links": [],
        "x": 1255,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b82fbe23fb632e05",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 5",
        "mode": "link",
        "links": [],
        "x": 1215,
        "y": 1540,
        "wires": []
    },
    {
        "id": "cdd65025750dc4f8",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Setpoint 6",
        "mode": "link",
        "links": [],
        "x": 1175,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c75d7d77b0f5f25e",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Set Lon",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0b857c92470a61a0",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out set Lat",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1180,
        "wires": []
    },
    {
        "id": "2fe46eac7c22eae5",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Stigetid",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8ca4edc11fb4728d",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Dimmetid",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b4d917b0862ca05d",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out MaxDriverTemperatur",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1100,
        "wires": []
    },
    {
        "id": "b8b4950c74be40ab",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out DriverCoolDownPWM",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1140,
        "wires": []
    },
    {
        "id": "02f057e13ba0aa0f",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out MBID",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1760,
        "wires": []
    },
    {
        "id": "e5f1eea9521533bd",
        "type": "function",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "Parse incoming Lampe data",
        "func": "let Lampe = null;\nlet setPWM = null;\nlet setEnable = null;\nlet setMBID = null;\nlet setREP0E = null;\nlet sendMB6 = null;\n\n\n// Lampe?\nif ((msg.payload.Lampe !== undefined) && (msg.payload.Lampe >= 0) && (msg.payload.Lampe <= 6)) {\n    Lampe = msg.payload.Lampe;\n    if ((msg.payload.setPWM !== undefined) && (msg.payload.setPWM >= 0) && (msg.payload.setPWM <= 10000)) {\n        setPWM = msg.payload.setPWM;\n    }\n    if (msg.payload.Enable !== undefined) {\n        setEnable = msg.payload.Enable;\n    }\n    if (msg.payload.enable !== undefined) {\n        setEnable = msg.payload.enable;\n    }\n    if (msg.payload.ENABLE !== undefined) {\n        setEnable = msg.payload.ENABLE;\n    }\n    // payload: { \"value\": msg.payload, \"fc\": 6, \"unitid\": 11, \"address\": 3, \"quantity\": 1 }\n    if ( (msg.payload.Lampe > 0) && (msg.payload.value !== undefined) && (msg.payload.fc !== undefined) && (msg.payload.address !== undefined) ) {\n        if((msg.payload.value >= 0) && (msg.payload.value <= 65535) && (msg.payload.fc == 6) && (msg.payload.address > 0) && (msg.payload.address < 250) ) {\n            sendMB6 = msg.payload.fc;\n        }\n    }\n\n}\n\n// MODBUS ID\nif (msg.payload.MBID !== undefined) {\n  if ((msg.payload.MBID > 10) && (msg.payload.MBID < 17) ) {\n    setMBID = msg.payload.MBID;\n  }\n}\n\n// REP0E - Repair 0-error\nif (msg.payload.REP0E !== undefined) {\n  if ((msg.payload.REP0E > 10) && (msg.payload.REP0E < 17) ) {\n    setREP0E = msg.payload.REP0E;\n  }\n}\n\nreturn [\n    ( setPWM === null ? null : { payload: { \"Lampe\": Lampe, \"setPWM\": setPWM } }),\n    ( setEnable === null ? null : { payload: { \"Lampe\": Lampe, \"Enable\": setEnable } } ),\n    ( setMBID === null ? null : { payload: setMBID } ),\n    ( sendMB6 === null ? null : { payload: { \"value\": msg.payload.value, \"fc\": 6, \"unitid\": 10+msg.payload.Lampe, \"address\": msg.payload.address, \"quantity\": 1 } } ),\n    ( setREP0E === null ? null : { payload: setREP0E } )\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "2ce6dec427f1cd19"
            ],
            [
                "046a02568bf18ef0"
            ],
            [
                "02f057e13ba0aa0f"
            ],
            [
                "409f01307431e555"
            ],
            [
                "bb9e550cf9bde718"
            ]
        ]
    },
    {
        "id": "b5d9b643d3018dc5",
        "type": "change",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "myModeSelector",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1260,
        "wires": [
            [
                "f159c4c478441d87"
            ]
        ]
    },
    {
        "id": "f159c4c478441d87",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out myModeSelector",
        "mode": "link",
        "links": [],
        "x": 1235,
        "y": 1260,
        "wires": []
    },
    {
        "id": "409f01307431e555",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out MODBUS fc 6",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1800,
        "wires": []
    },
    {
        "id": "5aa5ed662bbbed2c",
        "type": "set-shared-state",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "state": "ee932add205df226",
        "name": "planleggerTabell",
        "triggerOnInit": true,
        "triggerOnChange": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1020,
        "y": 1300,
        "wires": []
    },
    {
        "id": "bb9e550cf9bde718",
        "type": "link out",
        "z": "38519fcf62fceae2",
        "g": "f89014669a905f2e",
        "name": "link out Repair 0-error",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 1840,
        "wires": []
    }
]