NevaMarine/Lampetester/flows.json
[{"id":"abfb29b7fe98de5f","type":"tab","label":"Main","disabled":false,"info":"","env":[]},{"id":"56a22929a6befff3","type":"tab","label":"Config","disabled":false,"info":"","env":[]},{"id":"9f7bf74f149043d4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"112bd148e97f5bfc","type":"tab","label":"TEST","disabled":false,"info":"","env":[]},{"id":"888786c5.d5aab8","type":"subflow","name":"FIFO","info":"# FIFO\n## First in First Out subflow\nThis flow receives a series of msg.payloads and builds a queue using FIFO (First in First out) method. The LIFO size is configurabe through subflow enviroment variables.\n\n### Input\n`msg.topic == put`\nWill add the `msg.payload` to the end of the array. Everytime a new item is received the second output sends the complete queue.\n\n`msg.topic == get`\nWill remove the first item of the stack and will send it in the first output\n\n`msg.topic == list`\nSends the complete list on the second output.\n\n### Output 1\nThe first item on the top of the stack. It is sent only when `msg.topic == get`.\n\n### Output 2\nThe complete queue in Array format. It is sent everytime a new item is added, removed or when `msg.topic == list`\n\n### Status\nAlways show the queue size.\n\n### Enviroment Variables\n`Buffer_Size` defines the size of the queue. If a new item arrives and the queue is full, the oldest item will be removed.","category":"","in":[{"x":140,"y":120,"wires":[{"id":"5ce94b12.5c1c44"}]}],"out":[{"x":720,"y":60,"wires":[{"id":"a6ca9e09.83012","port":0}]},{"x":900,"y":100,"wires":[{"id":"d22ee914.d446d8","port":0}]}],"env":[{"name":"Buffer_Size","type":"num","value":"6"}],"icon":"font-awesome/fa-ellipsis-v","status":{"x":1040,"y":140,"wires":[{"id":"ad0059b4.1b2978","port":0}]}},{"id":"e69de5184b231a94","type":"junction","z":"56a22929a6befff3","x":60,"y":780,"wires":[["232e1bd3c0337d7f","d27f65d1d23d242c","de6093ed3c849c91"]]},{"id":"d27f65d1d23d242c","type":"junction","z":"56a22929a6befff3","x":200,"y":780,"wires":[["5e04324166d97655","325eaf833ee5cce3"]]},{"id":"325eaf833ee5cce3","type":"junction","z":"56a22929a6befff3","x":360,"y":780,"wires":[["0da0d71069b5b7f3","875442658bad3c4f"]]},{"id":"875442658bad3c4f","type":"junction","z":"56a22929a6befff3","x":520,"y":780,"wires":[["47f7db55ffd4a18e","f72b8945e0d6e7c8"]]},{"id":"f72b8945e0d6e7c8","type":"junction","z":"56a22929a6befff3","x":680,"y":780,"wires":[["f1da07013ec03217","2a88c7a4d6403b15"]]},{"id":"de6093ed3c849c91","type":"junction","z":"56a22929a6befff3","x":60,"y":640,"wires":[["f8234035c1102617","1462c26ff18a9b14"]]},{"id":"1462c26ff18a9b14","type":"junction","z":"56a22929a6befff3","x":200,"y":640,"wires":[["41e650e71e591599","aeeac0cf1fdd9830"]]},{"id":"aeeac0cf1fdd9830","type":"junction","z":"56a22929a6befff3","x":360,"y":640,"wires":[["838d66358b114764","7cfdc7454169e917"]]},{"id":"7cfdc7454169e917","type":"junction","z":"56a22929a6befff3","x":520,"y":640,"wires":[["89657707357da688","ee8be4810504bc8b"]]},{"id":"ee8be4810504bc8b","type":"junction","z":"56a22929a6befff3","x":680,"y":640,"wires":[["b82ef4fac43b42e8","5543a516269ff258"]]},{"id":"5543a516269ff258","type":"junction","z":"56a22929a6befff3","x":840,"y":640,"wires":[["75b3a4915df81ca5","f94dba06ac3beaca"]]},{"id":"f94dba06ac3beaca","type":"junction","z":"56a22929a6befff3","x":1380,"y":640,"wires":[["8ecd42ee4e431d0c"]]},{"id":"974608b50ff5df9c","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":"300","reconnectOnTimeout":false,"reconnectTimeout":1000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"a34efc6669e0b23a","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true},{"id":"07b472da491cc459","type":"PCA9685","deviceNumber":1,"address":"95","frequency":50},{"id":"7151a80ba6b123df","type":"ui-theme","name":"Neva Marine AS","colors":{"surface":"#097479","primary":"#ffffff","bgPage":"#111111","groupBg":"#333333","groupOutline":"#555555"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"ff4d78a12d1c8a98","type":"ui-page","name":"Main","ui":"a34efc6669e0b23a","path":"/main","icon":"home","layout":"grid","theme":"7151a80ba6b123df","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"44785c01e8a599e5","type":"ui-group","name":"Test","page":"ff4d78a12d1c8a98","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"911b963030fadadc","type":"ui-group","name":"Lys 1","page":"ff4d78a12d1c8a98","width":"1","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"856f7fc555539b8e","type":"modbus-client","name":"BAT UART","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":502,"tcpType":"DEFAULT","serialPort":"/dev/ttyAMA4","serialType":"RTU-BUFFERD","serialBaudrate":9600,"serialDatabits":8,"serialStopbits":1,"serialParity":"none","serialConnectionDelay":100,"serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"fb3fabef7f732e4f","type":"serial-port","name":"","serialport":"/dev/ttyAMA3","serialbaud":"9600","databits":8,"parity":"none","stopbits":1,"waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":10000},{"id":"689d59762dda24eb","type":"ui-page","name":"Trykk","ui":"a34efc6669e0b23a","path":"/page2","icon":"gear","layout":"grid","theme":"7151a80ba6b123df","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":"true","disabled":"false"},{"id":"67e67d3ec5cedac0","type":"ui-group","name":"Trykk","page":"689d59762dda24eb","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"a75df0de71f5b033","type":"ui-page","name":"TEST","ui":"a34efc6669e0b23a","path":"/test","icon":"test-tube","layout":"grid","theme":"7151a80ba6b123df","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"43f83edaea29acf4","type":"ui-group","name":"Lamp 1","page":"a75df0de71f5b033","width":"12","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"5ce94b12.5c1c44","type":"switch","z":"888786c5.d5aab8","name":"Topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"get","vt":"str"},{"t":"eq","v":"put","vt":"str"},{"t":"eq","v":"list","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":120,"wires":[["a6ca9e09.83012"],["feb761ec.4c293"],["d22ee914.d446d8"],["d22ee914.d446d8"]]},{"id":"feb761ec.4c293","type":"function","z":"888786c5.d5aab8","name":"put","func":"var queue = flow.get(\"queue\")\n\n\nif (!Array.isArray(queue)){\n    queue = [];\n}else if ( queue.length >= env.get(\"Buffer_Size\") ){\n    queue.pop(1);\n}\n\nqueue.unshift(msg.payload);\n\nflow.set(\"queue\", queue);\nmsg.payload = queue;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["d22ee914.d446d8"]]},{"id":"a6ca9e09.83012","type":"function","z":"888786c5.d5aab8","name":"get","func":"var queue = flow.get(\"queue\")\nvar item;\n\nif (!Array.isArray(queue)){\n    queue = [];\n}else{\n    item = queue.pop(1);\n}\n\n\nflow.set(\"queue\", queue)\nmsg.payload = item;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["d22ee914.d446d8"]]},{"id":"d22ee914.d446d8","type":"change","z":"888786c5.d5aab8","name":"list","rules":[{"t":"set","p":"payload","pt":"msg","to":"queue","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[["ad0059b4.1b2978"]]},{"id":"ad0059b4.1b2978","type":"change","z":"888786c5.d5aab8","name":"Count","rules":[{"t":"set","p":"payload","pt":"msg","to":"$count(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":140,"wires":[[]]},{"id":"b9bc332485de876d","type":"modbus-flex-write","z":"abfb29b7fe98de5f","name":"LAMP COM WRITE","showStatusActivities":false,"showErrors":false,"showWarnings":true,"server":"974608b50ff5df9c","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":510,"y":260,"wires":[["5c6b0427d7c54fbf"],[]]},{"id":"8b7b7f66848695ed","type":"function","z":"abfb29b7fe98de5f","name":"Sett lys","func":"let myPST2PWM = [0, 1, 2, 3, 4, 5, 6, 7, 8, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400, 2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400, 3500, 3600, 3700, 3800, 3900, 4000, 4100, 4200, 4300, 4400, 4500, 4600, 4700, 4800, 4900, 5000, 5100, 5200, 5300, 5400, 5500, 5600, 5700, 5800, 5900, 6000, 6100, 6200, 6300, 6400, 6500, 6600, 6700, 6800, 6900, 7000, 7100, 7200, 7300, 7400, 7500, 7600, 7700, 7800, 7900, 8000, 8100, 8200, 8300, 8400, 8500, 8600, 8700, 8800, 8900, 9000, 9100, 9200, 9300, 9400, 9500, 9600, 9700, 9800, 9900, 10000];\n\nreturn { payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 11, 'address': 3, 'quantity': 1 } }; \n//return { payload: { 'value': myPST2PWM[msg.payload], 'fc': 6, 'unitid': 0, 'address': 3, 'quantity': 1 } }; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["b9bc332485de876d"]]},{"id":"acb56a37f327d37c","type":"ui-slider","z":"abfb29b7fe98de5f","group":"911b963030fadadc","name":"Lys","label":"Lys","tooltip":"","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":true,"x":150,"y":260,"wires":[["8b7b7f66848695ed","a49c1b4cb400aac0","b44678754719ee60"]]},{"id":"e3773bd0d3a42b97","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"fc\":3,\"unitid\":12,\"address\":30,\"quantity\":16}","payloadType":"json","x":110,"y":420,"wires":[["3323161147415eb1"]]},{"id":"3323161147415eb1","type":"modbus-flex-getter","z":"abfb29b7fe98de5f","name":"LAMP COM READ","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"974608b50ff5df9c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":530,"y":420,"wires":[["48636756a1ac6e7a","732b642fa86bb6fe"],["0c6569f52acf15fb"]]},{"id":"48636756a1ac6e7a","type":"modbus-response","z":"abfb29b7fe98de5f","name":"","registerShowMax":20,"x":770,"y":380,"wires":[]},{"id":"7bb569857b3fb41a","type":"ui-template","z":"abfb29b7fe98de5f","group":"","page":"","ui":"a34efc6669e0b23a","name":"","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"/Background.png\");\n    background-repeat: no-repeat;\n    background-position: center;        \n    background-size: contain;\n}","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"site:style","className":"","x":160,"y":100,"wires":[[]]},{"id":"2b8daaabb3414d96","type":"link in","z":"abfb29b7fe98de5f","name":"link in Set lys","links":["f8b404045942bcf2"],"x":135,"y":200,"wires":[["acb56a37f327d37c"]]},{"id":"a49c1b4cb400aac0","type":"change","z":"abfb29b7fe98de5f","name":"","rules":[{"t":"set","p":"Lys1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[[]]},{"id":"b44678754719ee60","type":"link out","z":"abfb29b7fe98de5f","name":"link out Lys updated","mode":"link","links":["0559ea9b907b5e87"],"x":255,"y":160,"wires":[]},{"id":"cc8e410ff33fd703","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","v":"0","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":110,"y":140,"wires":[["a49c1b4cb400aac0","72d3f3cd4bf84bf7"]]},{"id":"72d3f3cd4bf84bf7","type":"delay","z":"abfb29b7fe98de5f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":340,"wires":[["1c19097ef58c2d40","3245af5960758667"]]},{"id":"1c19097ef58c2d40","type":"switch","z":"abfb29b7fe98de5f","d":true,"name":"","property":"Lys1","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":340,"wires":[["3245af5960758667"],["72d3f3cd4bf84bf7"]]},{"id":"3245af5960758667","type":"function","z":"abfb29b7fe98de5f","name":"Dump temp","func":"\nreturn {payload: {\"fc\":3,\"unitid\":11,\"address\":1,\"quantity\":45} };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":340,"wires":[["3323161147415eb1","72d3f3cd4bf84bf7"]]},{"id":"0bef80c4a536fa5a","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":390,"y":80,"wires":[["e6a186774be4f3c0"]]},{"id":"e6a186774be4f3c0","type":"function","z":"abfb29b7fe98de5f","name":"function 2","func":"return { payload: { 'value': msg.payload, 'fc': 6, 'unitid': 0, 'address': 1, 'quantity': 1 } }; ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["b9bc332485de876d"]]},{"id":"4db4eda6b254a720","type":"inject","z":"abfb29b7fe98de5f","name":"Change OwnId trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":98,\"fc\":6,\"unitid\":0,\"address\":99,\"quantity\":1}","payloadType":"json","x":440,"y":120,"wires":[["b9bc332485de876d"]]},{"id":"18cd2bd899e46432","type":"modbus-flex-getter","z":"abfb29b7fe98de5f","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"856f7fc555539b8e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":530,"y":500,"wires":[["79db4e4368b0ae4e"],[]]},{"id":"79db4e4368b0ae4e","type":"modbus-response","z":"abfb29b7fe98de5f","name":"","registerShowMax":20,"x":790,"y":500,"wires":[]},{"id":"0091a32232f4bbe7","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"fc\":3,\"unitid\":-1,\"address\":1,\"quantity\":10}","payloadType":"json","x":110,"y":500,"wires":[["f26a2e400f8b0632"]]},{"id":"f26a2e400f8b0632","type":"function","z":"abfb29b7fe98de5f","name":"function 3","func":"let data = msg.payload;\n\ndata.unitid += 1;\nnode.status({text: JSON.stringify(data)});\n\nif(data.unitid < 250) {\n    return { payload: data};\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":500,"wires":[["18cd2bd899e46432","58b61172ace3543c"]]},{"id":"58b61172ace3543c","type":"delay","z":"abfb29b7fe98de5f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":580,"wires":[["f26a2e400f8b0632"]]},{"id":"ae03f87a3fbb055a","type":"i2c scan","z":"abfb29b7fe98de5f","name":"","busno":"1","x":1240,"y":140,"wires":[["45d881a9305003dd"],[]]},{"id":"12c8bcfc73668956","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":140,"wires":[["ae03f87a3fbb055a"]]},{"id":"45d881a9305003dd","type":"debug","z":"abfb29b7fe98de5f","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":120,"wires":[]},{"id":"2a376b1eb9b49d76","type":"i2c in","z":"abfb29b7fe98de5f","name":"","busno":"1","address":"64","command":"0","count":"4","x":1230,"y":180,"wires":[["96d452d4031bede7"]]},{"id":"90dffa8443fcdae9","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":990,"y":180,"wires":[[]]},{"id":"47615dbdefa3d5b9","type":"i2c out","z":"abfb29b7fe98de5f","name":"","busno":"1","address":"64","command":"14","payload":"96","payloadType":"num","count":"1","x":1230,"y":240,"wires":[[]]},{"id":"967a6a305698b34b","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":240,"wires":[["47615dbdefa3d5b9"]]},{"id":"cded30df7106a6e5","type":"i2c out","z":"abfb29b7fe98de5f","name":"","busno":"1","address":"64","command":"15","payload":"1","payloadType":"num","count":"1","x":1230,"y":280,"wires":[[]]},{"id":"bcc62d5bbff4f6fb","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":280,"wires":[["cded30df7106a6e5"]]},{"id":"96d452d4031bede7","type":"function","z":"abfb29b7fe98de5f","name":"Dump Temp & Hum.","func":"let myArray = msg.payload;\n\nlet A = (myArray[1] << 8) | myArray[0];\nlet B = (myArray[3] << 8) | myArray[2];\n\nlet temp = (A/65536)*165 - 40.5;\nlet hum = (B/65536)*100;\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Temp: \" + temp + \" Hum:\" + hum});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":180,"wires":[[]]},{"id":"18676fc92dec75b3","type":"serial in","z":"abfb29b7fe98de5f","name":"","serial":"fb3fabef7f732e4f","x":110,"y":760,"wires":[["81e4188841112e3a"]]},{"id":"81e4188841112e3a","type":"debug","z":"abfb29b7fe98de5f","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":760,"wires":[]},{"id":"c4c8967622b3601a","type":"modbus-flex-getter","z":"abfb29b7fe98de5f","name":"LAMP COM READ","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"974608b50ff5df9c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":290,"y":880,"wires":[["f166ceed6221b02f","fb617cf78d913d32"],[]]},{"id":"f166ceed6221b02f","type":"modbus-response","z":"abfb29b7fe98de5f","name":"","registerShowMax":20,"x":550,"y":840,"wires":[]},{"id":"3fd196f03881ef02","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"fc\":3,\"unitid\":100,\"address\":1,\"quantity\":16}","payloadType":"json","x":110,"y":900,"wires":[["c4c8967622b3601a"]]},{"id":"fb617cf78d913d32","type":"function","z":"abfb29b7fe98de5f","name":"function 4","func":"let V = msg.payload[2]*3.3/4096*88/3;\nlet A1 = (msg.payload[3]-2048)*3.3/4096 / 0.066;\nlet A2 = (2048-msg.payload[4])*3.3/4096 / 0.066;\nnode.status({text: V.toFixed(1) + \"V, L1: \" + A1.toFixed(1) + \"A, L2: \" + A2.toFixed(1) + \"A\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":900,"wires":[[]]},{"id":"c1a9fd522dea4df2","type":"inject","z":"abfb29b7fe98de5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":9,\"fc\":6,\"unitid\":100,\"address\":7,\"quantity\":1}","payloadType":"json","x":290,"y":300,"wires":[["b9bc332485de876d"]]},{"id":"732b642fa86bb6fe","type":"function","z":"abfb29b7fe98de5f","name":"function 5","func":"if (msg.payload.length == 45) {\n    return [\n        { payload: msg.payload[29], topic: \"LED1\" },\n        { payload: msg.payload[31], topic: \"LED2\" },\n        { payload: msg.payload[33], topic: \"LED3\" },\n        { payload: msg.payload[35], topic: \"LED4\" },\n        { payload: msg.payload[37], topic: \"LED5\" },\n        { payload: msg.payload[39], topic: \"LED6\" },\n        { payload: msg.payload[41], topic: \"LED7\" },\n        { payload: msg.payload[43], topic: \"LED8\" }\n    ];\n}","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":460,"wires":[["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"],["afc0124ae2b4de98"]]},{"id":"afc0124ae2b4de98","type":"ui-chart","z":"abfb29b7fe98de5f","group":"43f83edaea29acf4","name":"","label":"chart","order":4,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"[°C]","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":"5","removeOlderUnit":"60","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"12","height":7,"className":"","interpolation":"linear","x":1150,"y":460,"wires":[[]]},{"id":"5c6b0427d7c54fbf","type":"modbus-response","z":"abfb29b7fe98de5f","name":"","registerShowMax":20,"x":770,"y":220,"wires":[]},{"id":"0c6569f52acf15fb","type":"function","z":"abfb29b7fe98de5f","name":"function 6","func":"let myStatus = 9;\n\nif(msg.payload == \"\") {\n    myStatus = 10;\n}\n\nnode.status({text: myStatus});\n\nreturn {payload: {\"value\":myStatus,\"fc\":6,\"unitid\":100,\"address\":7,\"quantity\":1}};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":320,"wires":[["b9bc332485de876d"]]},{"id":"3cd9b64100bccf7f","type":"ui-number-input","z":"abfb29b7fe98de5f","group":"43f83edaea29acf4","name":"","label":"S/N:","order":2,"width":2,"height":0,"topic":"topic","topicType":"msg","min":0,"max":"9999","step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":110,"y":1020,"wires":[["f73530d497a313bb"]]},{"id":"50b455279c02be6d","type":"ui-button","z":"abfb29b7fe98de5f","group":"43f83edaea29acf4","name":"","label":"Set S/N","order":3,"width":1,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":120,"y":1080,"wires":[["120a1ca9a07bf154"]]},{"id":"4d50c59503724bcd","type":"debug","z":"abfb29b7fe98de5f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1020,"wires":[]},{"id":"f73530d497a313bb","type":"change","z":"abfb29b7fe98de5f","name":"","rules":[{"t":"set","p":"Lampe1SN","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1020,"wires":[["4d50c59503724bcd"]]},{"id":"120a1ca9a07bf154","type":"function","z":"abfb29b7fe98de5f","name":"Send S/N update","func":"return {payload: { 'value': flow.get(\"Lampe1SN\"), 'fc': 6, 'unitid': 11, 'address': 2, 'quantity': 1 } };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1080,"wires":[["031f916fb48f3ea8","03a3630c36ed7015"]]},{"id":"01555504dd14b2e5","type":"link in","z":"abfb29b7fe98de5f","name":"link in MODBUS WRITE","links":["031f916fb48f3ea8"],"x":165,"y":300,"wires":[["b9bc332485de876d"]]},{"id":"031f916fb48f3ea8","type":"link out","z":"abfb29b7fe98de5f","name":"link out 1","mode":"link","links":["01555504dd14b2e5"],"x":645,"y":1060,"wires":[]},{"id":"03a3630c36ed7015","type":"function","z":"abfb29b7fe98de5f","name":"Send EEPROM write","func":"return {payload: { 'value': 1, 'fc': 6, 'unitid': 11, 'address': 99, 'quantity': 1 } };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1140,"wires":[["031f916fb48f3ea8","206af6075999dbfa"]]},{"id":"85570496720e8841","type":"modbus-flex-getter","z":"abfb29b7fe98de5f","name":"LAMP COM READ","showStatusActivities":false,"showErrors":true,"showWarnings":true,"logIOActivities":false,"server":"974608b50ff5df9c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":290,"y":960,"wires":[["4d50c59503724bcd","d9b7399323781a54"],[]]},{"id":"d9b7399323781a54","type":"function","z":"abfb29b7fe98de5f","name":"msg.payload[0]","func":"\nreturn {payload: msg.payload[0]};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":960,"wires":[["3cd9b64100bccf7f"]]},{"id":"719311b77f606c46","type":"ui-button","z":"abfb29b7fe98de5f","group":"43f83edaea29acf4","name":"","label":"Get S/N","order":1,"width":1,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"{\"fc\":3,\"unitid\":11,\"address\":2,\"quantity\":1}","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":100,"y":960,"wires":[["85570496720e8841"]]},{"id":"206af6075999dbfa","type":"function","z":"abfb29b7fe98de5f","name":"0","func":"\nreturn {payload: 0};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1200,"wires":[["3cd9b64100bccf7f"]]},{"id":"f727bd199c4fb768","type":"rpi-gpio in","z":"56a22929a6befff3","name":"AUTO","pin":"17","intype":"tri","debounce":"25","read":true,"bcm":true,"x":1470,"y":480,"wires":[[]]},{"id":"d5e98713ea88e6fd","type":"rpi-gpio in","z":"56a22929a6befff3","name":"MAN","pin":"18","intype":"tri","debounce":"25","read":true,"bcm":true,"x":1290,"y":480,"wires":[[]]},{"id":"a1ddf172bb91138b","type":"rpi-gpio in","z":"56a22929a6befff3","name":"OFF","pin":"20","intype":"tri","debounce":"25","read":true,"bcm":true,"x":1110,"y":480,"wires":[[]]},{"id":"e5eab9d52f7a0086","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE6","pin":"26","intype":"tri","debounce":"25","read":true,"bcm":true,"x":920,"y":480,"wires":[[]]},{"id":"48249a3cc4ab1fd4","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE5","pin":"25","intype":"tri","debounce":"25","read":true,"bcm":true,"x":760,"y":480,"wires":[[]]},{"id":"039b2e92a9b9d472","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE4","pin":"24","intype":"tri","debounce":"25","read":true,"bcm":true,"x":600,"y":480,"wires":[[]]},{"id":"82d6222d68c28e03","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE3","pin":"23","intype":"tri","debounce":"25","read":true,"bcm":true,"x":440,"y":480,"wires":[[]]},{"id":"f2d93e245ff5cdf7","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE2","pin":"22","intype":"tri","debounce":"25","read":true,"bcm":true,"x":280,"y":480,"wires":[[]]},{"id":"6c09cd4ea603abf6","type":"rpi-gpio in","z":"56a22929a6befff3","name":"LAMPE1","pin":"21","intype":"tri","debounce":"25","read":true,"bcm":true,"x":120,"y":260,"wires":[["ee50c16135371407"]]},{"id":"f8234035c1102617","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH0","pca9685":"07b472da491cc459","channel":"0","payload":"","unit":"percent","onStep":"2000","x":130,"y":600,"wires":[]},{"id":"ccfed0121093d5b8","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L1G","tooltip":"","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":110,"y":540,"wires":[["f8234035c1102617"]]},{"id":"232e1bd3c0337d7f","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH1","pca9685":"07b472da491cc459","channel":"1","payload":"","unit":"percent","onStep":"2000","x":130,"y":740,"wires":[]},{"id":"603562d8971ce434","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L1R","tooltip":"","order":3,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":110,"y":680,"wires":[["232e1bd3c0337d7f"]]},{"id":"5e04324166d97655","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH3","pca9685":"07b472da491cc459","channel":"3","payload":"","unit":"percent","onStep":"2000","x":290,"y":740,"wires":[]},{"id":"d258927b95ea4542","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L2R","tooltip":"","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":270,"y":680,"wires":[["5e04324166d97655"]]},{"id":"838d66358b114764","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH4","pca9685":"07b472da491cc459","channel":"4","payload":"","unit":"percent","onStep":"2000","x":450,"y":600,"wires":[]},{"id":"09f0b98bacbb5671","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L3G","tooltip":"","order":6,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":430,"y":540,"wires":[["838d66358b114764"]]},{"id":"0da0d71069b5b7f3","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH5","pca9685":"07b472da491cc459","channel":"5","payload":"","unit":"percent","onStep":"2000","x":450,"y":740,"wires":[]},{"id":"38a0a1a995f29532","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L3R","tooltip":"","order":7,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":450,"y":680,"wires":[["0da0d71069b5b7f3"]]},{"id":"89657707357da688","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH6","pca9685":"07b472da491cc459","channel":"6","payload":"","unit":"percent","onStep":"2000","x":610,"y":600,"wires":[]},{"id":"9c8e015f529e042b","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L4G","tooltip":"","order":8,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":590,"y":540,"wires":[["89657707357da688"]]},{"id":"47f7db55ffd4a18e","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH7","pca9685":"07b472da491cc459","channel":"7","payload":"","unit":"percent","onStep":"2000","x":610,"y":740,"wires":[]},{"id":"698db2775caa0f61","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L4R","tooltip":"","order":9,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":590,"y":680,"wires":[["47f7db55ffd4a18e"]]},{"id":"b82ef4fac43b42e8","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH8","pca9685":"07b472da491cc459","channel":"8","payload":"","unit":"percent","onStep":"2000","x":770,"y":600,"wires":[]},{"id":"5c8c699ea8be551c","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L5G","tooltip":"","order":10,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":750,"y":540,"wires":[["b82ef4fac43b42e8"]]},{"id":"f1da07013ec03217","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH9","pca9685":"07b472da491cc459","channel":"9","payload":"","unit":"percent","onStep":"2000","x":770,"y":740,"wires":[]},{"id":"fdf1042d8710100e","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L5R","tooltip":"","order":11,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":750,"y":680,"wires":[["f1da07013ec03217"]]},{"id":"75b3a4915df81ca5","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH10","pca9685":"07b472da491cc459","channel":"10","payload":"","unit":"percent","onStep":"2000","x":930,"y":600,"wires":[]},{"id":"918471377b74f028","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L6G","tooltip":"","order":12,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":910,"y":540,"wires":[["75b3a4915df81ca5"]]},{"id":"2a88c7a4d6403b15","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH11","pca9685":"07b472da491cc459","channel":"11","payload":"","unit":"percent","onStep":"2000","x":930,"y":740,"wires":[]},{"id":"61036eac5eea489b","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L6R","tooltip":"","order":13,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":910,"y":680,"wires":[["2a88c7a4d6403b15"]]},{"id":"ea7909646c8d0c3d","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH12","pca9685":"07b472da491cc459","channel":"12","payload":"","unit":"percent","onStep":"2000","x":1290,"y":600,"wires":[]},{"id":"4dfab148ced912ac","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"MAN","tooltip":"","order":14,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":1290,"y":540,"wires":[["ea7909646c8d0c3d"]]},{"id":"8ecd42ee4e431d0c","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH13","pca9685":"07b472da491cc459","channel":"13","payload":"","unit":"percent","onStep":"2000","x":1470,"y":600,"wires":[]},{"id":"9a7d8f15f0138d8f","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"AUTO","tooltip":"","order":15,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":1470,"y":540,"wires":[["8ecd42ee4e431d0c"]]},{"id":"41e650e71e591599","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH2","pca9685":"07b472da491cc459","channel":"2","payload":"","unit":"percent","onStep":"2000","x":290,"y":600,"wires":[]},{"id":"6f1e4e3647226c6d","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"L2G","tooltip":"","order":4,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":270,"y":540,"wires":[["41e650e71e591599"]]},{"id":"b29b5734ec540eeb","type":"PCA9685 out","z":"56a22929a6befff3","name":"CH14","pca9685":"07b472da491cc459","channel":"14","payload":"","unit":"percent","onStep":"2000","x":1110,"y":600,"wires":[]},{"id":"07fc982ce3c17b77","type":"ui-slider","z":"56a22929a6befff3","group":"44785c01e8a599e5","name":"","label":"Av/På","tooltip":"","order":16,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":1110,"y":540,"wires":[["b29b5734ec540eeb"]]},{"id":"95433f349af5e69e","type":"ui-switch","z":"56a22929a6befff3","name":"Lys 1","label":"Lys","group":"911b963030fadadc","order":2,"width":"1","height":"1","passthru":false,"decouple":false,"topic":"topic","topicType":"msg","style":"","className":"","layout":"row-spread","clickableArea":"line","onvalue":"100","onvalueType":"num","onicon":"lightbulb-on","oncolor":"white","offvalue":"0","offvalueType":"num","officon":"lightbulb-off","offcolor":"white","x":550,"y":320,"wires":[["f8b404045942bcf2"]]},{"id":"f8b404045942bcf2","type":"link out","z":"56a22929a6befff3","name":"link out Set lys","mode":"link","links":["2b8daaabb3414d96"],"x":725,"y":340,"wires":[]},{"id":"d8d50b4f0044aad5","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","v":"100","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"100","payloadType":"num","x":170,"y":860,"wires":[["e69de5184b231a94"]]},{"id":"ee50c16135371407","type":"switch","z":"56a22929a6befff3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":260,"wires":[["cdc56aa87583fa67"]]},{"id":"cdc56aa87583fa67","type":"switch","z":"56a22929a6befff3","name":"","property":"Lys1","propertyType":"global","rules":[{"t":"empty"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":410,"y":260,"wires":[["9ff186198cd283c3"],["9ff186198cd283c3"],["1142b11ab2033f0b"]]},{"id":"9ff186198cd283c3","type":"change","z":"56a22929a6befff3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["f8b404045942bcf2"]]},{"id":"1142b11ab2033f0b","type":"change","z":"56a22929a6befff3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["f8b404045942bcf2"]]},{"id":"63474e8ce6190a52","type":"function","z":"56a22929a6befff3","name":"function 1","func":"\nreturn { payload: 100- msg.payload };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":480,"wires":[["ccfed0121093d5b8"]]},{"id":"0559ea9b907b5e87","type":"link in","z":"56a22929a6befff3","name":"link in 1","links":["b44678754719ee60"],"x":165,"y":380,"wires":[["63474e8ce6190a52"]]},{"id":"5a56f5581d7a3fb1","type":"i2c scan","z":"56a22929a6befff3","name":"","busno":"1","x":260,"y":100,"wires":[["75435b6b17bdfa58"],[]]},{"id":"68d6cc4ae7cd0d44","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["5a56f5581d7a3fb1"]]},{"id":"75435b6b17bdfa58","type":"debug","z":"56a22929a6befff3","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"507e0e84fdd66016","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[[]]},{"id":"7a1b96c51d2c3503","type":"i2c in","z":"56a22929a6befff3","name":"","busno":"1","address":"109","command":"6","count":"3","x":270,"y":160,"wires":[["a89fb3154f922761"]]},{"id":"9206e2182f2c1ae9","type":"i2c in","z":"56a22929a6befff3","name":"","busno":"1","address":"109","command":"9","count":"3","x":270,"y":200,"wires":[["cd22ce2233734f46","75435b6b17bdfa58"]]},{"id":"f3bbe23b95837753","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["9206e2182f2c1ae9"]]},{"id":"cd22ce2233734f46","type":"function","z":"56a22929a6befff3","name":"Temperature","func":"let dat = (msg.payload[0]<<16) + (msg.payload[1]<<8) + msg.payload[2];\nlet fadc = dat;\nif(dat & 0x800000) {\n    fadc = dat-16777216.0;\n} \nnode.status(\"fadc: \" + fadc);\nreturn { payload: 25.0+(fadc/65536.0)};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":200,"wires":[["75435b6b17bdfa58"]]},{"id":"a89fb3154f922761","type":"function","z":"56a22929a6befff3","name":"Pressure","func":"let dat = (msg.payload[0]<<16) + (msg.payload[1]<<8) + msg.payload[2];\nlet fadc = dat;\nif(dat & 0x800000) {\n    fadc = dat-16777216.0;\n} \n//let ADC = 3.3*fadc/8388608.0;\nlet ADC = 3.3*fadc/14278572.0;\nlet Upper_Range_limit = 700;\nlet Lower_Range_Limit = 0;\nlet Range = Upper_Range_limit - Lower_Range_Limit;\nnode.status(\"fadc: \" + fadc);\n//return { payload: (Range * (ADC-0.5)/2.0)+Lower_Range_Limit};\n//return { payload: fadc/100000.0 -16.03};\n\nreturn { payload: ((5775*fadc)/4194304 -750)};\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":140,"wires":[["45ed53406547bbec"]]},{"id":"1becef4a6fa75b1d","type":"ui-template","z":"56a22929a6befff3","group":"44785c01e8a599e5","page":"","ui":"","name":"","order":1,"width":0,"height":0,"head":"","format":"<template>\n    <div>\n        <h2>Counter</h2>\n        <!-- Conditional Styling using Attribute Binding (\":\") -->\n        <!-- and rendering content inside <tags></tags> with {{ }} -->\n        <p :style=\"{'color' : (count > 5 ? 'red' : 'green' )}\">Current Count: {{ count }}</p>\n        <!-- Computed Rendering using Vue Computed Variables -->\n        <p class=\"my-class\">Formatted Count: {{ formattedCount }}</p>\n        <!-- Conditional Rendering with \"v-if\" -->\n        <b v-if=\"count > 5\">Too many!</b>\n        <v-btn @click=\"increase()\">Increment</v-btn>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                count: 0\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            count: function () {\n                if (this.count % 5 === 0) {\n                    this.send({payload: 'Multiple of 5'})\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n            formattedCount: function () {\n                return this.count + ' Apples'\n            }\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n            increase: function () {\n                this.count++\n            }\n        },\n        mounted() {\n            // code here when the component is first loaded\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: red;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":160,"y":980,"wires":[[]]},{"id":"4f276b60d6fcf57d","type":"i2c out","z":"56a22929a6befff3","name":"","busno":"1","address":"64","command":"2","payload":"16","payloadType":"num","count":"1","x":1250,"y":100,"wires":[["27d8ebe10b0adbd3"]]},{"id":"d251178b3bb1d305","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1100,"y":100,"wires":[["4f276b60d6fcf57d"]]},{"id":"27d8ebe10b0adbd3","type":"debug","z":"56a22929a6befff3","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":100,"wires":[]},{"id":"42c31b7dbb6c1863","type":"i2c in","z":"56a22929a6befff3","name":"","busno":"1","address":"64","command":"0","count":"2","x":1570,"y":140,"wires":[["27d8ebe10b0adbd3"]]},{"id":"1ea86fc81f22b72f","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1100,"y":140,"wires":[["148d66e28e0ceea3"]]},{"id":"148d66e28e0ceea3","type":"i2c in","z":"56a22929a6befff3","name":"","busno":"1","address":"64","command":"0","count":"2","x":1250,"y":140,"wires":[["c3446a1a4fb591e1"]]},{"id":"c3446a1a4fb591e1","type":"delay","z":"56a22929a6befff3","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1410,"y":140,"wires":[["42c31b7dbb6c1863"]]},{"id":"c82a3bd95487c916","type":"ui-chart","z":"56a22929a6befff3","group":"67e67d3ec5cedac0","name":"","label":"chart","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"linear","x":650,"y":60,"wires":[[]]},{"id":"45ed53406547bbec","type":"smooth","z":"56a22929a6befff3","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":500,"y":60,"wires":[["c82a3bd95487c916"]]},{"id":"a087e9abb1098415","type":"rpi-gpio in","z":"56a22929a6befff3","name":"","pin":"10","intype":"down","debounce":"25","read":true,"bcm":true,"x":200,"y":1060,"wires":[[]]},{"id":"1d1c05193a7bd2cc","type":"rpi-gpio in","z":"56a22929a6befff3","name":"","pin":"27","intype":"down","debounce":"25","read":true,"bcm":true,"x":180,"y":1140,"wires":[[]]},{"id":"21e843f1141f2812","type":"rpi-gpio out","z":"56a22929a6befff3","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":580,"y":1260,"wires":[]},{"id":"c82a7a9cf53b6766","type":"inject","z":"56a22929a6befff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1280,"wires":[["85dc1d4df05984f5"]]},{"id":"85dc1d4df05984f5","type":"trigger","z":"56a22929a6befff3","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":1260,"wires":[["21e843f1141f2812"]]},{"id":"dcc2fed9378fa115","type":"function","z":"9f7bf74f149043d4","name":"Process BMP581 Data","func":"// BMP581 data processing function\nconst rawData = msg.payload;\n\n// Convert raw bytes to pressure and temperature values\n// Note: Actual conversion depends on BMP581's data format\nconst pressure = (rawData[5] << 16) | (rawData[4] << 8) | rawData[3];\nconst temp = (rawData[2] << 16) | (rawData[1] << 8) | rawData[0];\n\n// Apply calibration formulas (refer to BMP581 datasheet)\nconst calibratedPressure = pressure / 100.0; // Example conversion\nconst calibratedTemp = temp / 100.0;         // Example conversion\n\nmsg.payload = {\n    pressure: calibratedPressure,\n    temperature: calibratedTemp,\n    unit: {\n        pressure: \"hPa\",\n        temperature: \"°C\"\n    }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["118c913dbb15d713"]]},{"id":"118c913dbb15d713","type":"debug","z":"9f7bf74f149043d4","name":"BMP581 Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]},{"id":"891778735f88ea53","type":"inject","z":"9f7bf74f149043d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["11fa7bd14d237254"]]},{"id":"11fa7bd14d237254","type":"i2c in","z":"9f7bf74f149043d4","name":"","busno":"1","address":"70","command":"29","count":"6","x":310,"y":240,"wires":[["dcc2fed9378fa115","118c913dbb15d713"]]},{"id":"87834cb7cecedeeb","type":"i2c in","z":"9f7bf74f149043d4","name":"Get ID","busno":"1","address":"70","command":"1","count":"1","x":310,"y":80,"wires":[["118c913dbb15d713"]]},{"id":"bf810f27b2b8704c","type":"inject","z":"9f7bf74f149043d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["87834cb7cecedeeb"]]},{"id":"f7f77575b8f9564c","type":"i2c out","z":"9f7bf74f149043d4","name":"","busno":"1","address":"70","command":"55","payload":"71","payloadType":"num","count":"1","x":310,"y":140,"wires":[[]]},{"id":"bf66debfe062292b","type":"inject","z":"9f7bf74f149043d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["f7f77575b8f9564c"]]},{"id":"facf4f0e639a15a0","type":"i2c out","z":"9f7bf74f149043d4","name":"","busno":"1","address":"70","command":"28","payload":"3","payloadType":"num","count":"1","x":450,"y":140,"wires":[["1c3566c5d93db67e"]]},{"id":"1c3566c5d93db67e","type":"i2c out","z":"9f7bf74f149043d4","name":"","busno":"1","address":"70","command":"29","payload":"2","payloadType":"num","count":"1","x":590,"y":140,"wires":[["fe6f3ad0dc5a0259"]]},{"id":"fe6f3ad0dc5a0259","type":"i2c out","z":"9f7bf74f149043d4","name":"","busno":"1","address":"70","command":"126","payload":"3","payloadType":"num","count":"1","x":750,"y":140,"wires":[["118c913dbb15d713"]]}]